[2014-02-11 06:47] SimonEast opened #1 "Can you specify staging/production servers in the one deploy.ini file?"
This looks awesome, just the kinda thing I need.  Gonna attempt to try it out tomorrow, but just wondered if there might be a way to specify separate settings for staging/production servers, so you could do something like

`phploy production`
or
`phploy staging`

I realise that this was probably intended for a workflow where you have separate Git branches for staging/production in which case a dif

[2014-02-11 12:24] #1 closed, assigned to nobody

[2014-02-12 12:10] banago opened #2 "Add Support for Rollbacks"
Support for rollback to earlier version is being developed. You can view progress on the [rollbacks](https://github.com/banago/PHPloy/tree/rollbacks) branch.

It is expect to allow you to rollback to previous version by running:

[code]

Or to a more earlier version by running:

[code]

Suggestions are welcome.

[2014-02-13 20:42] fadion opened #4 "Coding style and minor optimizations"
Let's put this as the next step. It won't take much, but it's a needed one. Also, minor optimizations to code could be acheived in this phase, mostly for legibility, thrown exceptions, etc.

[2014-02-14 23:05] #2 closed, assigned to banago

[2014-02-15 01:30] fadion opened #6 "No upload on fresh repo"
It doesn't seem to upload on a freshly started repo with no revision on the server. Have made a few tests and the regression must have been introduced in a3e55e6f0022596fc209f37cb2b3a15046e44ce1.

I'm running `phploy` with no parameters, on a repo with the same exact files and a single server configured. Tried a few versions of phploy before a3e55e6f0022596fc209f37cb2b3a15046e44ce1 and uploading w

[2014-02-15 02:03] fadion opened #7 "Deploying to single server by default"
The current behaviour is to deploy to every defined server, unless one specifies it via the `--server` argument. Personally, I think this leads to problems.

If I have a staging and production server, I want to upload selectively. First to staging, test it, then to production. The problem is that it's quite easy to forget the `--server` argument and upload to both, while the intention was to deplo

[2014-02-15 02:33] fadion opened #8 "Is quickmode necessary?"
Varied options are a good thing as long as they're complementary and don't confuse users. I believe quickmode doesn't classify. Except for being confusing, it's difficult to read and can lead to incorrect parsing if certain characters (colon, slashes) that break the url scheme are present.

I'd suggest keeping the "long" server configs only. They're even easier to write!

[2014-02-15 10:08] #6 closed, assigned to nobody

[2014-02-15 10:09] #4 closed, assigned to nobody

[2014-02-15 10:17] #8 closed, assigned to nobody

[2014-02-15 14:25] oxodesign opened #9 "Installing through Composer"
Personally I use composer a lot an I would be glad if you can make it available through composer as well.

[2014-02-15 14:27] oxodesign opened #10 "Support for SSH or at least SFTP"
The title describe it all. Support for SSH or SFTP is a must for me at least.

[2014-02-15 14:29] oxodesign opened #11 "Web interface"
It does not need to be implemented now but why developing thing about this. A powerful deploy tool need to have a web interface.

[2014-02-27 09:00] #7 closed, assigned to nobody

[2014-03-01 08:38] banago opened #13 "Syntax Errors Check Before Deployment"
Embarrassingly enough only today was I able to come across this little nice utility in PHP - syntax checking form the terminal.

[code]

Out if this, I [wrote a little `bash` script](https://coderwall.com/p/qrmtia) to do this check before the commit, but I don't really bother if I do a commit with errors.

On the other hand it is really important that we don't do a deploy with errors. And guess wh

[2014-03-01 12:40] #13 closed, assigned to nobody

[2014-03-08 18:38] supernrm opened #14 "Possibility to first deploy without upload all files"
Feature request: possibility to first deploy without uplod all files

_"The first time it's executed, PHPloy will assume that your deployment server is empty, and will upload all the files of your project."_

My server is NOT empty and i don't want to send again ALL files on start, only last commit.

[2014-03-13 23:14] W0lfw00d opened #15 "Deploy one source to different folders (for example: secure & public files)"
Is it possible to deploy certain folders/files to different locations?

For example I would like my public files (such as assets) to be deployed into the public web root:
/domains/domain.com/public_html/

However the framework/config code should go to a non-public location such as:
/domains/domain.com/framework/

That would be a neat feature to have. :)

[2014-03-14 09:01] #14 closed, assigned to banago

[2014-03-27 11:45] philsbury opened #17 "Ignore files/folders"
Would be great to be able to ignore files and folders that we do want in the repo, but not on the server. I'm thinking raw SASS, node modules and the such.

[2014-04-15 13:51] davidromani opened #20 "Choose which branch deploy"
It would be interesting if we can set on deploy.ini which branch use to deploy. I use capifony to deploy my Symfony projects and it has this helpful feature.

Thx.

[2014-04-18 21:47] branquito opened #21 "does not give any error , does not connect"
When I do -> `phploy --list` it says connecting to production server, and nothing more, exits with error 255. I have specified in `deploy.ini` all credentials. Could it be that because my username on ftp contains dot character like `de.munze`? It does not give any clue of what might have happened, could not connect to server, or no such directory or whatever.

[2014-04-19 14:52] Skyerin opened #22 "deploy only contents of a selected folder"
Would it be possible to have the ability to deploy only the contents within a set folder?

For example; when I develop, I develop, the stuff that I want to have sent to the server would be inside a www/ folder. the rest of the stuff in the root is sh scripts that we track or vagrant related and wouldn't want these on production.

[2014-04-21 06:50] #22 closed, assigned to nobody

[2014-04-25 12:18] Stony2k opened #23 "Problem uploading files with special chars"
I have found a bug in the script. I'have tried to upload a file in my test environment.

Failed to upload "...../02 Vollmacht (f\303\274r Dritte).pdf". Retrying (attempt 2/10)...
PHP Warning:  ftp_put("......../02 Vollmacht (f\303\274r Dritte).pdf"): failed to open stream: No such file or directory in /usr/local/bin/phploy on line 698

So there are special chars like **ä** or **ü** and so in the n

[2014-04-26 05:55] nadimtuhin opened #24 "password problem"
Hi I have a password like `]or~%H]Q%&75` this in my deploy.ini but its showing error telling me unexpected ~

can you help??

[2014-04-26 09:45] #24 closed, assigned to nobody

[2014-05-13 20:04] cirkuzant opened #25 "Passing path of repository to phploy"
It would be good thing to have an option to pass the path of the repository to phploy through parameters, so you don't have to be in the repository folder and use it as a shortcut or, for example, custom action from SourceTree.

[2014-05-22 15:05] amsolucionesweb opened #26 "Ask for (s)ftp password if not specified"
It would be good the console ask for the ftp password if this is blank in the configuration file, this way is can versioning the deploy.ini file without compromising the security of the server.

[2014-05-22 15:20] amsolucionesweb opened #27 "Upload vendor directory or ignored files/directories"
Since working with composer, vendor directory is in the list of ignored files, so could be a possibility on the first deploy ignored directories will be uploaded.

[2014-05-22 15:34] amsolucionesweb opened #28 "Clear cache directory"
After deploy clean directories specified in deploy.ini

[2014-06-06 20:45] joshas opened #30 "Sometimes file numbering is off"
Sometimes file operation numbering starts from 2, e.g. "uploaded 2 of 184" and ends with "uploaded 185 of 184". Not really sure when it happens, but I caught it two times already. Using latest beta on Windows.

[2014-06-11 12:28] SimonEast opened #32 "Logging PHPloy Output"
I often want to check when I last made a deployment, and a log file would be really handy.  It's a relatively easy patch to enable logging to a text file (in addition to output on the screen), which I'm keen to write soon.  But my only question is how it should be configured in deploy.ini.

* Should you specify a log file *per* environment?  Or one overall?
* How can we make configuration work wit

[2014-06-15 16:04] coatesap opened #33 "Unknown git-diff status: T"
It seems PHPloy doesn't know how to handle a scenario where the type of a file has changed. This means that it blocks any further deployments with the error:

Oh Snap: Unknown git-diff status: T

An example would be to have a directory in the local repository which is removed and then replaced with file of the same name.

[2014-07-17 01:19] helmut opened #34 "Add commit hashes to output"
It would be great if the output in the CLI would display the commit hashes that the files are being deployed from/to. Sometimes when you deploy and you have multiple commits in between and you want to rollback quickly, it can take a while to find which commit to rollback to. If you could just look in the CLI history to see what you just deployed that would be great.

Also a command to retrieve the

[2014-08-06 20:36] JayBizzle opened #35 "Does username and password need to be quoted in deploy.ini"
Took me a while to figure out why I couldn't get PHPloy to connect to my server.

I'm using version `2.0.0-beta3`

It would only work when I single quoted the username and password in `deploy.ini`

Is this expected behaviour!?

[2014-08-07 09:40] #35 closed, assigned to nobody

[2014-08-09 14:27] banago opened #43 "PHPloy v3"
Hi guys,

I have some exciting news to share. I took a good chunk of time to add a feature that I was needing a lot lately and that is sFTP support: https://github.com/banago/PHPloy/tree/feature/secure

To do that, I made use of this great library here: https://github.com/tangervu/Connection.php (1) which I ended up forking to make several improvements to play well with PHPloy and to make it a com

[2014-08-09 14:33] banago opened #44 "Ubuntu: Calling phar globally fails"
Calling phar globally fails for no obvious reason.

[code]

Resource: http://askubuntu.com/a/133460/77291

[2014-08-09 14:52] #44 closed, assigned to banago

[2014-08-15 08:28] #17 closed, assigned to nobody

[2014-08-15 08:57] #9 closed, assigned to nobody

[2014-08-15 09:02] banago opened #48 "Turn off submodules by default"
Hey @SimonEast,

I find myself that submodules are actually updates very rarely and the checks are kind of in vain on every single deploy.

What do you think about turning it off by default and adding a `--submodules` options if we want to run a check for submodules too.

[2014-08-15 09:18] #30 closed, assigned to nobody

[2014-08-15 09:20] #21 closed, assigned to nobody

[2014-08-15 15:03] SimonEast opened #50 "Issues with rollback command"
There's currently two issues with the `--rollback` command.
1. It doesn't handle submodules correctly.  [See source code note here.](https://github.com/banago/PHPloy/blob/dffa97ee72741c9eb278470333e5d3dbb6277910/src/PHPloy.php#L679)
2. It returns the working copy to the master branch, which may not be what the user intended. [See source code note here.](https://github.com/banago/PHPloy/blob/dffa97

[2014-08-18 09:41] JayBizzle opened #51 "Pre/Post deployment commands"
Just noting this down as a discussion point for a possible future feature.

My current deployment workflow, using dploy.io, allows me to run shell commands on my server after the deployment has complete. I usually have a minimum of `composer install` getting executed after my deployments. It would be nice for PHPloy to have such a feature.

Thoughts?

[2014-08-18 16:13] jbmittet opened #52 "Bug with gitlab"
Hello,

When I run 'phploy' in my git folder, PHPloy tell me :
"Oh Snap: '/var/opt/gitlab/git-data/repositories/jbm/testing.git' is not Git repository."
I use PHPloy (last version) and Gitlab omnibus 6.9

[2014-08-23 16:19] #52 closed, assigned to nobody

[2014-08-23 16:27] #15 closed, assigned to banago

[2014-08-25 09:50] #10 closed, assigned to nobody

[2014-09-02 16:14] rodrigoiohb opened #53 "Problem with the new version (feature to SFTP"
I am trying to connect to an SFTP Server..

PHP Fatal error:  Call to a member function exists() on a non-object in phar:///var/www/mysite/phploy.phar/src/PHPloy.php on line 480
PHP Stack trace:
PHP   1. {main}() /var/www/mysite/phploy.phar:0
PHP   2. include() /var/www/mysite/phploy.phar:10
PHP   3. Banago\PHPloy\PHPloy->__construct() phar:///var/www/mysite/phploy.phar/phploy.php:11
PHP   4. Bana

[2014-09-02 17:31] kikoot opened #54 "Manage branches"
hi,

is it possible to manage several branches ?
i mean a way to upload changes from dev branch to a dev branch server configuration and master branch changes to a master branch server configuration ?

[2014-09-23 11:16] hyyan opened #55 "How to upload files which are ignored by git"

[2014-10-01 10:25] #55 closed, assigned to nobody

[2014-10-17 04:17] hellodaniel opened #56 "Revision file incorrect if committing during deployment"
I might be incorrect but I've noticed this a few times --

If I'm doing a long deployment, say an initial deployment of many thousands of files, then make commits during that deployment the .revision file on the server is incorrectly updated to the latest local revision. i.e.: the revision when deployment completed, not when it was started.

When detected I just sync the server to the correct revi

[2014-10-21 03:18] ajtroxell opened #57 "Windows Issues"
Following installation instructions word for word, yet running phploy within project prompts that phploy is not a recognized command. This is after adding php.exe and path to phploy to environment variables.

It does work if I place phploy and phploy.bat in my project folder, but it would be nice to not have to do this with each project, as that is what the installation instructions indicate by us

[2014-10-22 14:14] zanonnicola opened #58 "How can you make PHPloy watching files?"
Heya,

is possible having something like grunt watch plugin? So when a file has been committed PHPloy takes care automatically of the deployment.

Thanks!

[2014-10-22 21:11] #58 closed, assigned to nobody

[2014-11-04 13:32] andrecavallari opened #59 "git command error"
When I try to run the command "phploy" on my git project the following message comes out:

Oh snap: PHPloy attempted to run the following console command but it failed: git --git-dir=^"D:\server^\auto.git^" --work-tree=^"D:\server^\auto^" submodule status

[2014-11-14 09:34] rubenheymans opened #60 "How do submodules work?"
This is a great tool, but I'm trying to upload a Yii2 project, and I have a vendor folder with all my modules, but none of them are uploaded.

I'm not really sure if the modules in the vendor folder are submodules.

Any solutions for this?

[2014-11-17 17:46] xhezairbey opened #61 "Exclamation Mark on password causes termination of phploy"
Hello there,

Props on the fantastic nifty tool you've made.

Couple of minutes ago, I wanted to phploy to a server which had a password consisting of an exclamation mark, just to have PHPloy throw me this exception:

[code]

The exclamation mark was at the end of it to be more precise.
Tried escaping it with a backlash, or throwing the whole string within quotes but to no avail.

[2014-11-18 09:00] #61 closed, assigned to nobody

[2014-12-03 00:28] timothyausten opened #62 "FTPS settings"
I don't know if this is the right place to ask, but here it is. I've been getting the error: "Unable to connect." I should be using FTPS, and In FileZilla I use the setting: "require explicit ftp over tls." I also have the following settings:

[code]

I am using Windows, so I am worried that something is missing from my PHP build. Is there anything I am leaving out?

[2014-12-05 21:23] #62 closed, assigned to nobody

[2014-12-05 21:23] #60 closed, assigned to nobody

[2014-12-05 21:24] #59 closed, assigned to nobody

[2014-12-07 23:41] gullij opened #63 "Deploying to all servers should require a --all parameter"
The default behaviour of uploading to all servers could cause problems if people use the setup for different environments as the example deploy.ini shows. It's highly unlikely people would want to deploy to development, staging and production environments all at the same time. A --all parameter or something similar seems more logical than defaulting to deploying everywhere.

[2014-12-16 06:02] kodeplusdev opened #64 "PHPloy in window 64 bit"
I run on my computer window 7 64bit and get this error. Please help me to fixe them. Thanks.

![test](https://cloud.githubusercontent.com/assets/7855608/5449218/c8e5f482-8523-11e4-9561-5d6476d4740d.png)

[2014-12-27 09:10] phenix-factory opened #65 "Strange submodule detection"
Hello,

I got a lot of issus with my submodule. I have a repository with 4 submodule et one of them have a submodule too.
But the script found wierd thing:

[code]
All sub-submodule are wrong, except for `plugins/spip_array_column/lib/array_column`.
This `dans.` folder doesn't even exist.

The V3 have the same problem but, act differente:

[code]
What can I do ?

[2015-01-07 11:41] Euphorbium commented on #26
Would it be possible to use system environment variables? Would this be posssible on both windows and unix like systems?

[2015-01-07 18:20] banago commented on #26
I don't know much about this unfortunately. Would you like to contribute
that? I would be more then happy to marge that.

[2015-01-15 20:34] JayBizzle commented on #63
:+1:

[2015-01-17 14:00] saibotd commented on #27
If you guys need a version with the ability to upload all files and directories, regardless of .gitignore, I've made such a version here: https://github.com/saibotd/PHPloy/tree/feature/secure
The parameter is -o or --others. I don't know if it's good enough for a pull-request though...

[2015-01-26 22:00] emilsgulbis commented on #53
When I'm trying to phploy, terminal just says Could not connect to 'my.domain.com' and nothing more.
[code]

and quickmode fails too.

https://github.com/fadion/Maneuver for laravel works, but this for (non-laravel) doesn't.

[2015-02-05 18:44] nolfranklin commented on #53
Think I might be in the same boat as @emilsgulbis.

[2015-02-06 06:49] banago commented on #53
@fadion's fix should fix PHPloy too, but I've not updated it yet. Will do very soon. Thanks for the head-ups.

[2015-02-07 21:43] julio6114 commented on #55
Always not available ?

[2015-02-07 22:47] nikolaykovenko commented on #55
@julio6114 Here is pull request with this feature https://github.com/banago/PHPloy/pull/68. I hope it will be merged soon, but you can use @saibotd fork, if you want.

[2015-02-07 23:21] julio6114 commented on #55
Oh thanks!
I just noticed that my problem is another! :)
In fact, I want to exclude files which are not in .gitignore.
For example I've a Gruntfile.js which is versionned but I don't upload it on staging.
Do I created an other issue ?

[2015-02-09 19:25] banago commented on #53
Hi everyone,

This annoying bug is now fixed. Thanks everyone for your patience. Please grab the latest build from `bin/`folder and put it in your `usr/local/bin` or in your project directory and you will be good to go.

Happy deploying! :smiley_cat:

[2015-02-09 19:25] #53 closed

[2015-02-09 20:36] banago commented on #65
Submodules checking is now turned off by default, so you at least will not be bugged by all these. Good luck and happy deploying!

[2015-02-09 20:36] #65 closed

[2015-02-09 20:39] banago commented on #48
This feature is now implemented. To deploy with submodule scanning, please use `--submodules` parameter with the command. Happy deploying!

[2015-02-09 20:39] #48 closed

[2015-02-09 20:57] banago commented on #64
@kodeplusdev, I suggest you switch to version 3. Even though it's tagged as alpha is very stable and works great. I'm closing this issue. Good luck and happy deploying!

[2015-02-09 20:57] #64 closed

[2015-02-09 20:58] banago commented on #57
@ajtroxell did you find a solution to this issue?

[2015-02-09 21:05] banago commented on #63
@gullij thinking about this I came the the conclusion that we have a solution in place for this. It's the other way around of what you suggest but works the same none the less. So, if you want to deploy one to one of your environments, you specify that environment with the `-s` or the longer `--server` parameter, like this:

    phploy -s staging

Or:

    phploy --server staging

This works great

[2015-02-09 21:05] #63 closed

[2015-02-09 21:12] JayBizzle opened #69 "Test Suite"
I had some time the other day to get back involved in writing some more updates but then I remembered what a pain it was to do any kind of testing the last time I contributed.

I just wondered how you or any other contributors test their contributions, and have you thought about putting some kind of test suite together to facilitate automated testing? Im no expert in this field, but it is somethin

[2015-02-09 21:31] banago commented on #69
I'm not very much  into Unit Testing either and I'm looking forward to it. So, let's make this a feature to add. Right now I test by running commands on real project on the scenarios I want to test. Thanks @JayBizzle

[2015-02-09 21:37] banago commented on #56
Hey @hellodaniel and @SimonEast, this issue is now fixed. Happy deploying!

[2015-02-09 21:37] #56 closed

[2015-02-09 21:42] banago commented on #34
I don't see this happening soon, since I like the output being very neat and clean, so I'm closing this. If someone would like to implement this, just open the issue again and send a pull request.

[2015-02-09 21:42] #34 closed

[2015-02-09 21:44] banago commented on #27
This feature is now implemented. Thanks very much @saibotd - we really appreciate your contribution.

[2015-02-09 21:44] #27 closed

[2015-02-09 21:49] banago commented on #54
We have this issue opened here #20. Closing this so keep an eye on that issue. Happy deploying!

[2015-02-09 21:49] #54 closed

[2015-02-09 21:49] #57 closed

[2015-02-09 21:53] banago commented on #43
Hey @fadion, @SimonEast and @JayBizzle, do you guys thing we should merge `feature/secure` to master and make it the default version now. Seems pretty stable to me these days. Please let me know.

[2015-02-09 21:57] JayBizzle commented on #43
Its been out in the wild for a while now with no real serious issues reported. I think getting it merged will clean up the code base, then we can look at pushing onwards with new stuff.

[2015-02-09 22:05] banago commented on #43
I feel the same. Let's hear from the rest of the team.

[2015-02-09 23:05] SimonEast commented on #43
Sorry guys, I've been pretty flat-out recently so haven't kept up-to-date with developments.  If you see my earlier post in this thread (back in August), I had a few suggestions including an issue where on Windows you'd get odd and confusing error messages when attempting to use SFTP.  Was hoping to look into that more when I got time (but haven't had a chance).  Do you know if those items got loo

[2015-02-10 09:04] fadion commented on #69
Mocking the git commands and server deployment features would basically render the Unit Tests useless. I believe it would benefit a lot more from acceptance tests by setting up a test git repo and server. I may help in the future.

[2015-02-10 09:05] fadion commented on #43
I'm for it too!

[2015-02-10 13:03] banago commented on #43
PHPloy v3 just hit beta. PHPloy v2 is now on legacy branch. Happy deploying everyone. Thanks for using and contributing to PHPloy.

Check it out: https://github.com/banago/PHPloy

[2015-02-11 16:28] marsjaninzmarsa opened #70 "Deploying from post-receive hook on bare repo."
It's even possible?

[2015-02-12 11:07] decanus opened #71 "Change file name on deployment"
A way to change file names.
Ex.

system.ini // Dont deploy
system.live.ini => system.ini // Change name for live server

[2015-02-12 20:30] banago commented on #71
Personally, I don't think I would spend time on that, and I expect the same from the rest of the devs since there are other features that are hanging there for about one year. If you would like to contribute that code, I'd be more than happy to include it. All the best.

[2015-02-12 20:31] banago commented on #70
It's not possible at the moment. I'm looking into it for personal reasons, but I don't think it ever make it as a feature in PHPloy, sorry. All the best.

[2015-02-12 20:31] #70 closed

[2015-02-12 20:33] banago commented on #69
@fadion I know you can help here and I'm hardly waiting the the day. :smiley_cat:

[2015-02-12 20:34] banago commented on #51
@JayBizzle is this even possible to do through ftp/sftp? I think we will need to add support for ssh to do that. Right?

[2015-02-12 21:03] decanus commented on #71
@banago Shall I just create a PR once I'm done?

[2015-02-12 21:06] banago commented on #71
Yes, directly to master would do right now. Thanks very much @decanus

[2015-02-12 21:25] JayBizzle commented on #51
SFTP is over SSH isn't it?

http://en.wikipedia.org/wiki/File_Transfer_Protocol#SFTP

[2015-02-12 21:29] banago commented on #51
Yeah, but it comes with it's own set of commands. You cannot run `composer
install` from sftp as far as I know.

[2015-02-12 21:38] JayBizzle commented on #51
I use http://dploy.io for some of my projects, and with that, i just setup an SFTP connect and tell it to run commands after deployment, including `composer` stuff so i presume it is possible :confused:

[2015-02-12 21:52] banago commented on #51
I hope we can do it too. :smile:

[2015-02-12 22:03] decanus commented on #71
https://github.com/banago/PHPloy/pull/72

[2015-02-13 00:12] banago commented on #71
@decanus thanks very much for your contribution. Before I pull it in, I need you to test it well, since this is going straight to master branch. And, the other thing is, once you make 3 contributions, you qualify as an author, so stick around. ;)

[2015-02-13 05:32] decanus commented on #71
Ah that's cool, maybe I'll get started on the web UI. If it doesn't work 100% tell me and I'll look over it.

[2015-02-13 05:57] decanus opened #73 "Start writing unit tests"
Start writing PHPUnitTests to simplify the process of testing new features

[2015-02-13 10:01] banago commented on #71
@decanus I checked the implementation again. What happens if you want to rename more then one file?

[2015-02-13 10:07] banago commented on #73
@decanus closing this in favor of containing discussion in issue #69.

[2015-02-13 10:07] #73 closed

[2015-02-13 10:08] decanus commented on #71
As long as the indexes match it should work

[2015-02-13 10:20] banago commented on #71
How do indexes work - you couple them together? Is this mentioned in readme.md?

[2015-02-13 10:21] decanus commented on #71
yeah, [0] in remote is related to [0] in local

[2015-02-13 10:21] decanus commented on #71
Have not put it in readme

[2015-02-13 21:13] JayBizzle commented on #71
With all these extra options in the `ini` file, wouldn't it be advantageous to have a more advanced ini parser?

Something like https://github.com/austinhyde/IniParser

[2015-02-13 21:20] decanus commented on #71
I feel as though the ini could be replaced with a json file

[2015-02-13 21:29] JayBizzle commented on #71
@decanus yes, that is also not a bad idea

[2015-02-13 21:32] decanus commented on #71
@banago or @JayBizzle could one of you test my code? I currently dont have the necessary resources

[2015-02-13 21:32] decanus opened #74 "Change deploy.ini to deploy.json"

[2015-02-16 07:17] #26 closed

[2015-02-16 07:19] banago commented on #26
PHPloy now supports asking for password interactively in case it is missing from the `deploy.ini` file. Happy deployment!

[2015-02-16 08:20] #23 closed

[2015-02-16 08:21] banago commented on #23
@Stony2k this issue is now fixed. Thanks very much @maliayas for the input. Happy deployment!

[2015-02-16 08:29] banago commented on #74
@decanus why do you feel inclined we should do that?

[2015-02-16 08:31] decanus commented on #74
Multi dimensional arrays for settings @JayBizzle agrees that it could be a good idea.

[2015-02-16 08:32] banago commented on #71
@decanus do you think you can put a little bit of more effort into this? The feature needs to be added to readme.md so other will know about it. And testing it with multiple files would be great. This feature is your little baby so it needs your love. :smile:

[2015-02-16 19:30] banago commented on #74
I like the idea of a supporting a `json` configuration file alongside `ini` file. However, the reasons as of now is not to support multi-dimentional arrays since we don't need them anywhere.

[2015-02-16 19:34] banago commented on #11
While this is a great idea, I feel it's outside the scope of PHPloy at this point in time.

[2015-02-16 19:34] #11 closed

[2015-02-16 19:37] banago commented on #20
Because there is not a great demand for this feature, and you can actually achieve the same results in different way, I am retiring this proposal. Thanks for you input guys.

[2015-02-16 21:44] banago commented on #33
@coatesap this issue is now solved. Please check https://github.com/banago/PHPloy/releases/tag/v3.0.14-beta and test it as you like. Happy deploying!

[2015-02-16 21:44] #33 closed

[2015-02-18 05:42] decanus commented on #71
Sure, I'll try so an extensive test this weekend

[2015-02-19 06:28] decanus opened #76 "Travis-CI for builds"
This would help get build statuses and would automatically build the .phar file

[2015-02-19 06:32] banago commented on #76
That would be great. :smile:

[2015-02-19 06:39] decanus commented on #76
It's pretty simple too, and automates a lot

[2015-02-19 06:50] banago commented on #76
I tried it some times ago and the system seemed buggy - I kept seeing some
Symphony errors, so I just dumped it. Happy to get to it again though.

You have the lead here.

[2015-02-19 19:51] JayBizzle commented on #76
+1

[2015-02-21 16:22] nepsdotin opened #77 "What if the network fails abruptly ? will the push begin from the starting."
Consider you have a really a huge bunch of files. The moment you are about to complete network broke. what will happen, will it start from the beginning or only the few files it just missed to upload.

[2015-02-21 17:43] banago commented on #77
@nepsdotin it will start from the beginning. If you want me to explain why, just let me know. Happy you asked.

[2015-02-22 09:13] nepsdotin commented on #77
It should continue from where it left right, that would save lot of time especially when you are pushing lot of stuffs to the server. Don't you think so

[2015-02-22 13:15] banago commented on #77
I agree. I would be a great feature to have and it can be achieved by keeping track of what's been uploaded already and checking that on every deployment. That needs to be developed though. Would you like to contribute that feature implementation?

[2015-02-23 07:26] decanus commented on #76
I can't do any of the travis stuff as I am not repo owner. I could guide you through it though if you do the basic setup like linking the repo and github

[2015-02-23 07:27] decanus commented on #76
http://docs.travis-ci.com/user/getting-started/

[2015-02-23 20:13] #28 closed

[2015-02-23 20:15] banago commented on #43
PHPloy v3 is finally stable. Thanks everyone for your feedback and contributions. Support for purging directories is now added to PHPloy.

Check the stable version out: https://github.com/banago/PHPloy

[2015-02-23 20:59] banago commented on #77
@nepsdotin I'm closing this issue for now. If you would like to contribute here, please fell free to reopen it. All the best.

[2015-02-23 20:59] #77 closed

[2015-02-24 12:02] #43 closed

[2015-02-24 20:27] GuidoHendriks opened #82 "Hide password input"
If there's no password in the deploy.ini, PHPloy will ask the user for the password. In some cases you might not want the password in the config file. In that case you might not have it shown in the terminal when typing it either.

Suggestion to fix this: Hide the password input.

I'd be happy to implement it if you think this would be a good addition.

[2015-02-24 20:34] banago commented on #82
Yes, I think it will be a great addition. I thought about this when implementing the feature, but did not give much thought to it so, it's raw now. This is all yours @GuidoHendriks :+1:

[2015-02-24 21:01] banago opened #83 "PHPloy 4"
Hi everyone,

Now that PHPloy 3 is out of the door, it's time we planed new next major release, PHPloy 4. I'll try to lay out the changes and features I'd like to see to make it into the next version.

**Better OOP**
Even though PHPloy is already object-oriented, it's time take it to the next level. The best example to follow here is [Maneuver](https://github.com/fadion/Maneuver), a Laravel packag

[2015-02-24 21:10] GuidoHendriks opened #84 "Revision not set correctly when rolling back"
When rolling back to a previous commit, it doesn't write the correct hash to `.revision` on the server. It seems like the `setRevision` method only deals with deploys and syncs, not rollbacks?

[2015-02-24 21:13] banago commented on #84
Did you test it? I haven't experienced that behavior before.

[2015-02-24 21:20] GuidoHendriks commented on #84
Yes, I just tried it. After rolling back, the hash in `.revision` didn't change. Should've been the hash from the commit it rolled back to, right? I actually spotted it in code. It uses `localRevision` as hash to set, but that's never the right value when rolling back.

[2015-02-24 21:28] banago commented on #84
Yes, that's right, it should save the has from the commit. Thanks for pointing this out. Would you like to fix this too?

[2015-02-25 11:33] GuidoHendriks commented on #82
Fixed in #86.

[2015-02-25 11:41] banago commented on #82
Yes, indeed. :smile_cat:

[2015-02-25 11:41] #82 closed

[2015-02-25 11:43] #84 closed

[2015-02-25 11:53] GuidoHendriks opened #88 "Applying $filesToIgnore on files to delete"
When rolling back after creating files, it tries to delete the files on the server. If one of the files created in the last commit is in `$filesToIgnore`, it still tries to delete that file. That fails because it wasn't uploaded to the server in the first place.

[2015-02-25 11:58] GuidoHendriks opened #89 "Count of files to upload and deleted files"
What should be the correct way to count files to upload and files to delete?

Currently, when adding 2 files and deleting 1 this is what happens:

    removed 1 of 3 .DS_Store
     ^ 1 of 3 .gitignore
     ^ 2 of 3 bar

I think this should either be:

    removed 1 of 1 .DS_Store
     ^ 1 of 2 .gitignore
     ^ 2 of 2 bar

Or:

    removed 1 of 3 .DS_Store
     ^ 2 of 3 .gitignore
     ^ 3 of 3 ba

[2015-02-25 12:59] banago commented on #88
Right now, when it fails to delete it throws an exception too, which should not happen since it stops the deployment and it should not happen. I hope to enhance this part on v4. For now let's fix what you are describing. Great catch.

[2015-02-25 13:00] banago commented on #89
I agree, we should count them separately.

[2015-02-25 13:16] #89 closed

[2015-02-25 13:37] banago commented on #88
@GuidoHendriks normal deployment is broken.  I don't know which pull caused it, but now a fresh deploy happens everytime I try to deploy.

[2015-02-25 13:39] banago commented on #88
Never mind - seems an issue on my end.

[2015-02-25 13:39] GuidoHendriks commented on #88
@banago I'm on it.

[2015-02-25 13:41] banago commented on #88
Confirmed: After deployment the revision is not updated in server.

[2015-02-25 13:42] GuidoHendriks commented on #88
@banago I screwed up in my attempt to "Keep it dry" in #91. Fix is on the way.

[2015-02-25 13:46] GuidoHendriks commented on #88
#93 should fix it. Will test more thoroughly in the future.

[2015-02-25 13:51] banago commented on #88
Just tested - seems all good for now. Great job!

[2015-02-25 14:46] #88 closed

[2015-02-25 14:54] banago commented on #50
@SimonEast this issue of returning to master after rollback is now fixed by this super-awesome contrbutor @GuidoHendriks.

For the submodule handle, I don't see how it can be implemented - I'm out of ideas. What's on your mind?

[2015-02-25 20:12] JayBizzle commented on #83
Agree with all the above, plus a better testing platform as mentioned in #69

[2015-02-25 20:18] GuidoHendriks opened #95 "PHPloy 3 stable release?"
By now there's a 3.0.15-stable tag. But after that revision there has been some bug fixes already, a few of them by myself. With that in mind, I wouldn't actually call the 3.0.15 tag stable.

Maybe we should do a proper 3 release after the current code is tested thoroughly by everyone?

[2015-02-25 20:19] GuidoHendriks commented on #95
I actually tested the current code with good results. Except for the submodules, which I didn't test at all.

[2015-02-25 21:32] banago commented on #95
With your fixes, it will be v3.0.16-stable. It's OK that the previous had some little bugs; we've got to be consistent with tagging.

[2015-02-25 21:32] #95 closed

[2015-02-28 21:30] SamHH opened #96 "Explicitly include files excluded by .gitignore?"
There are some directories/files I would like to not be tracked by Git, but still uploaded to the server (e.g. img/ folder). Is there any way to do this? If not, is it possible that this could be added similarly to skip[] in deploy.ini?

Thanks!

[2015-03-02 10:44] GuidoHendriks commented on #96
Since those files aren't tracked by Git, you cannot check the state on the servers. My suggestion would be either adding those to Git anyway or handle files like that manually.

[2015-03-02 17:55] banago commented on #96
@SamHH please check out the `--other` parameter here: https://github.com/banago/PHPloy#upload-other-files

[2015-03-02 18:35] SamHH commented on #96
@banago So with that I could feasibly exclude whatever I need from Git with .gitignore, then use deploy.ini to exclude whatever I need from the server (including manually replicating whatever is in .gitignore)?

[2015-03-03 06:33] banago commented on #96
@SamHH yes sir  -- we have the `skip[]` for this purpose. Check the sample `deploy.ini` file.

[2015-03-03 13:40] SamHH commented on #96
Oh that's lovely.

Thanks!

[2015-03-03 13:40] #96 closed

[2015-03-03 21:37] Stony2k commented on #23
No problem :+1:  its a great script.

[2015-03-04 06:40] banago commented on #23
Hey @Stony2k, make sure to tell the world too on twitter or somewhere. :)

[2015-03-05 17:56] NathanGiesbrecht opened #97 "Default server"
I think it would be great if the default action was, instead of deploying to all configured servers, if there was the option of having a [default] server which would be the only one deployed to if the program was run with no parameters.

For example, my work flow is I do work, then upload to a staging server for further "real world" testing before actually deploying to production. Which requires m

[2015-03-05 18:25] GuidoHendriks commented on #97
I agree that deploying to all servers by default might not be the best option. Because of this I wrote a wizard, which gives us all the options. Maybe this is an option as a default, with parameters as a shortcut to a specific action.

[2015-03-06 18:31] banago commented on #97
@NathanGiesbrecht we had another guy request this exact feature and I closed it since I thought we have already in place what we need with specifying a server. But I do get where you come from with the fear of messing up and deploying to all servers. So, let's do it. You have green light to build this feature and I'll merge with with pleasure. Thanks for taking the time to create this issue.

[2015-03-06 18:47] NathanGiesbrecht commented on #97
Great. I'll get on it this weekend. What I was thinking was have a [default] server, and then to deploy to all implementing a --all flag, or something to that effect? Sound reasonable?

[2015-03-06 18:54] banago commented on #97
Yes, sounds great. Looking forward to your pull request. :)

[2015-03-09 18:39] Threeeagle opened #98 "Run Phploy on Windows"
Dear all,

having big trouble getting phploy to work on my windows machine.
Neither from Git Bash, nor Windows CMD.

Using Git 1.9.5 (latest stable windows), PHPloy 3 (tried with Version 2 as well, got different errors), PHP 5.4 (tried with 5.6 as well)

Errors in PHPloy 3:
Git Bash error: Trying two calls:

![phploy1](https://cloud.githubusercontent.com/assets/11395033/6561806/54edf5d6-c694-11e4-

[2015-03-10 03:56] NathanGiesbrecht commented on #97
https://github.com/banago/PHPloy/pull/99

[2015-03-11 16:04] Stony2k commented on #23
Ich have no Twitter account but i have shared it on Google+ :)

[2015-03-12 08:19] addatwork opened #100 "Deploy only part of repo"
I don't know if the current version has any solution for my case, if so, please advise.
The current structure is something like:

/dir1/
/dir2/
file

I want to deploy only the contents of the /dir1/ to the /public_html/ of a server. Can this be done?
Great tool btw. Thank you.

[2015-03-12 19:30] banago commented on #97
This is not merged - thanks @NathanGiesbrecht. You have the honor to close this issue. :smile:

[2015-03-12 19:32] banago commented on #63
Hi @gullij and @JayBizzle.

Due to another developer proposing this feature, this is now added to PHPloy. The guy proposing it, implemented it too, so everyone is happy. :smile_cat:

Happy deployment!

[2015-03-12 19:33] banago commented on #98
@SimonEast could you have a look at this. What seems to be the problem here?

[2015-03-12 19:35] banago commented on #100
@addatwork yes this can be done very easily. All you have to do is ignore the rest of the files/folders by using the `skip[]` command. Please refer to the example `deploy.ini` file for a concrete example. Happy deployment!

[2015-03-12 19:35] #100 closed

[2015-03-12 21:06] NathanGiesbrecht commented on #97
My pleasure @bango I'll try to take a look at some of the other issues when I have time. This tool is saving me tonnes of stress lately.

[2015-03-12 21:06] #97 closed

[2015-03-13 00:15] SimonEast commented on #98
I'm pretty flat-out at the moment so don't have heaps of time to investigate, but here's a couple thoughts:

* Not sure if you can run BAT files from git bash.  Does that normally work?  Perhaps you can just call `php.exe phploy` and bypass the BAT?
* In the 2nd error, it appears to be unable to find autoload.php, but I don't think the slashes are an issue.  I normally use forward slashes in PHP o

[2015-03-17 14:29] addatwork opened #101 "Rollback with uncommited changes issue"
I was surprised to find that PHPloy sent a work-in-progress copy of a file to the production server.
It sends the list of files correctly, but the content of the file is the current state of the files regardless of the state they were in when the commit took place.

- have a test.txt
- commit
- push
- change the content of test.txt
- phploy

it will upload the modified version of test.txt.

Is thi

[2015-03-18 10:17] rzds opened #102 "Recursive Purging"
I have a directory on server  that contains files and other directories.
Is the purge option supposed to remove the subdirectories or just the files?
Anyway, it shows the "Oh Snap: Could not remove file 'directoryName'" and the script stopped also  failing to remove all the files from there.
[code]

[2015-03-18 15:38] NathanGiesbrecht commented on #101
I'm not certain, but I do believe that is the intended behavior. The alternative would be to reset your project to the last commit state, in which case you'd lose any work you'd done since your last commit - which is obviously NOT desirable.

That said, I do see your point in that only committed changes should be deployed. Perhaps something like doing an automatic `git stash`, then deploy, then `g

[2015-03-18 15:41] addatwork commented on #101
Seems weird since PHPloy is capable of rollbacks, meaning it uploads versions of files from a repo, not from the machine is ran from.

[2015-03-19 08:13] rzds opened #103 "Empty directory not removed from server"
If you make a commit after you remove some directory (containing files) and you deploy that to the server, you will notice that the directory still exists on the server and the files are gone.
I think it should delete the directory too.

[2015-03-19 17:16] AngelinDark opened #104 "Oh Snap: Could not upload file"
I'm trying to do a deploy, but for any reason the command returns this error.

PHP Warning:  ftp_fput(): Can't open that file: Is a directory in phar:///usr/local/bin/phploy/vendor/banago/bridge/src/Backend/Ftp.php on line 140

Any idea what might be causing this error?

[2015-03-21 18:28] craftpip opened #105 "Absolute path to deploy.ini file."
Hello, I have a team working on the same repo, as the deploy.ini is in the same repo, everyone gets the ftp server's credentials,
Is there a way to move deploy.ini out of the repo, and give a absolute path to the ini file while executing phploy.phar ?

BTW, PHPloy is working great !
Thanks.

[2015-03-22 07:35] Threeeagle commented on #98
Hi Simon,

thank you for your answer.

1) If I bypass the bat in git-bash I get the "error loading autoload.php:
![image](https://cloud.githubusercontent.com/assets/11395033/6768481/fe9ba41a-d06d-11e4-8ba6-58c0a6bcc111.png)

2) not sure about composer. Installed just php. I composer required?

3) This one also fails with a somewhat unclear error to me:
![image](https://cloud.githubusercontent.com/

[2015-03-24 18:35] banago commented on #101
@addatwork, as @NathanGiesbrecht is pointing out, that is not the intended behavior. PHPloy on every rollback, reverts the whole project to the point you are rolling back to. In this particular case, it might have been that the revert has failed because you had uncommitted changes that might be lost, so no revert has happened on the repo at all. I'll have to test it with uncommented changes, which

[2015-03-24 18:39] banago commented on #102
@rzds right now PHPloy will only delete the files. So, recursive purge fails, sorry.

[2015-03-24 18:40] banago commented on #103
@rzds yes it should delete the directory too. I'll look into this too. Thanks for pointing it  out.

[2015-03-24 18:42] banago commented on #104
@AngelinDark there is a file with the name of the directory you are trying to upload to that causes this error. Right now you will have to login to your server and delete that file manually.

[2015-03-24 18:42] #104 closed

[2015-03-24 18:44] banago commented on #105
@craftpip the roud is paved for that but it's not implemented fully yet. I'll make sure I do. Thanks for pointing it out.

[2015-03-31 18:21] NathanGiesbrecht opened #106 "Fails when deleting a file that does not exist on remote"
When deleting files from the repository, if the files do not exist on the deployment server, PHPloy will fail. I think this should probably throw a warning, but an error I think is the wrong course of action, since the file that is to be deleted has already been deleted. Or is there some other reason for this behaviour? In my case, I'd deleted a file from production servers that were a security is

[2015-04-01 07:39] banago commented on #106
@NathanGiesbrecht I've had this issue several times too. This is how [Brige](https://github.com/banago/Bridge) handles fails and PHPloy will catch it and stop the execution. I hope this will be fixed on PHPloy 4.

[2015-04-04 01:54] NathanGiesbrecht commented on #98
I get these same errors if I try running it without running composer install first. You need to download and install composer, and then run "composer install" inside the PHPloy directory. This will download and install the dependencies. This should probably be clarified in install instructions.

[2015-04-04 10:20] banago commented on #98
That's right.Most people use the .phar file thought that is on bin folder
and that has everything packed.

[2015-04-08 09:42] strauss69400 opened #107 "command phploy don't work"
hello,

i use a virtual machine with debian 7.5
when i copy the phploy.phar in /usr/local/bin, the command "phploy" don't work in the terminal.

maybe, i forgot something to do?

sorry for my english

[2015-04-08 09:48] craftpip commented on #107
Run it with the .phar extension, and it should work.

[2015-04-08 12:10] strauss69400 commented on #107
Thanks for your help.

It s strange that my debian do not know the command phploy.
Do you have already this problem?

[2015-04-08 13:24] craftpip commented on #107
Yes, i had the same problem.
adding .phar was not a problem. :)

[2015-04-08 14:53] strauss69400 commented on #107
ok thanks.it works on linux.

but on windows, impossible to do.i use composer to install dependencies but when i launched the command "phploy" in git-bash, it don't work.
in my system-path, i add c:\wamp\www\PHPloy

[2015-04-08 23:13] strauss69400 opened #108 "Oh Snap:Scheme in not defined"
hello,

I managed to install phploy on windows and linux.
so I put in the root of my project the deploy.ini file.

but when I run the command "phploy" I have this error:
Oh Snap:Scheme in not defined...

i don't understant why i get this error.
my file
[staging]
    scheme = ftp
    user = user1
    pass = *****
    host = acme.fr
    path = /sites/myproject
    port = 21

thank you for your help

[2015-04-09 05:20] craftpip commented on #108
I don't know the real cause of this error,

You can specify the servers to deploy,
`phploy.phar -s staging`,
I hope it works.

[2015-04-09 09:11] strauss69400 commented on #108
thanks for your help

but i have the same error.
i don't understand why i get this error.it 's really strange!!

[2015-04-09 09:18] #107 closed

[2015-04-09 11:07] strauss69400 commented on #108
i found the problem.
there is a slash in my password,the function url_parse don't worked.

[2015-04-09 11:07] #108 closed

[2015-04-09 13:51] strauss69400 opened #109 "bug ftp_mkdir"
hello,
when i try my symfony project, phploy bug when a folder contains a file which the name of the file to begin with a point like .gitkeep
is there a solution for this problem?

thank you

[2015-04-11 06:06] banago commented on #109
Theoretically this should not happen. I haven't run into this problem, but I'll file this as a bug. I hope this will be solved soon.

Thanks for reporting it @strauss69400!

[2015-04-13 20:02] #106 closed

[2015-04-13 20:03] banago commented on #106
@NathanGiesbrecht this is now fixed by a contribution from @craftpip.

[2015-04-13 20:42] NathanGiesbrecht commented on #106
Wonderful! Thanks @craftpip

[2015-04-14 16:18] Threeeagle commented on #98
Oh damn true, perfect, thank you. fixed.

[2015-04-14 16:18] #98 closed

[2015-04-14 20:46] banago commented on #98
@Threeeagle very happy you figured this out.

[2015-04-21 19:37] owenkavanagh opened #112 "Installation not clear"
I'm reading through the read me and it's not clear what to do with all of the files.

I know where to put the .ini file and .phar file but where should I put the other files from the root and the src folder?

[2015-04-23 15:22] bobrocke opened #113 "ftp_fput(): Can't open that file: Is a directory"
I'm getting this error:
[code]
And using this deploy.ini file:
[code]
What is it that I'm doing wrong?

[2015-04-23 15:56] bobrocke commented on #113
I thought it might have been my submodules, but this didn't work, either:
[code]

[2015-04-23 21:25] ElementalWebD opened #114 ".revision file appears on the server but entire repository uploading"
Hi,

Great script and I am using it across a number of sites. I am having trouble with one particular site which appears to be ignoring the .revision file. I have attempted to run the --sync command and deleted and replaced the .revision file a number of time but with no luck. Was wondering if this was something other people have come across?

Thanks

[2015-04-24 05:12] banago commented on #114
@ElementalWebD I've had the same issue with one server too. I think it was a windows server and very restricted in setup. Now that I know someone else has had the same issue, I'll look into it further. Thanks for opening the issue.

[2015-04-24 05:14] banago commented on #113
@bobrocke it seems a directory with the same name exists in the server. Can you check that through FileZilla or something similar? Please let me know.

[2015-04-24 05:17] banago commented on #112
@owenkavanagh thanks very much for opening this issue. I'll make sure I clarify this on the `readme` over the weekend. But basically, what you have to do is get the file that is in the `bin` folder and use only that. You can put that in your project or in a global place at `/usr/local/bin/`, if you are using a Mac or Linux machine.

[2015-04-24 05:23] bobrocke commented on #113
Yes, there are many directories. I thought that was the point - update a web site.

[2015-04-24 05:26] banago opened #115 "Oh Snap: String offset cast occurred"
No idea where this is coming from, but a couple of people are complaining about this. Worth looking into.

Ref: https://twitter.com/jchristopher/status/591314979720187904
Ref: https://twitter.com/BenLeJukebox/status/590170764231516161

[2015-04-24 05:30] banago commented on #113
This is only happening for one particular file. You have a file and a directory with the same name so they collide. Makes sense? Seems to be this: `user/pages/04.stylesheet/stylesheet.md`

[2015-04-24 07:05] bobrocke commented on #113
OK. So bug? There's nothing wrong or odd about a file and a folder with the same names.

But here they are not: 04.stylesheet != stylesheet.md

[2015-04-24 07:28] banago commented on #113
In theory, this is a proper check.  I think your next file to be uploaded might be the caveat. What's the third file? Check if a folder with that name exists on the server.

[2015-04-24 10:18] bobrocke commented on #113
phploy -l says:
[code]
It looks like it wants to start uploading the submodule `materializer`, which is a folder that exists. Why won't phploy just overwrite changed files as needed?

[2015-04-24 15:53] banago commented on #113
Seems there is a bug there - submodule names should be removed from
uploads; that is the bug. Will let you know when I fix it, hopefully over
the weekend. Thanks for your persistence.

[2015-04-25 07:50] #115 closed

[2015-04-25 08:37] banago commented on #113
@bobrocke this issue is now fixed. Please grab the latest version and check for yourself. Thanks very much for your time tinkering with PHPloy. Happy deploying! :smile_cat:

[2015-04-25 08:38] #112 closed

[2015-04-25 09:01] banago commented on #109
Hi @strauss69400,

I tested this issue on several servers. It works fine - directory and file were created ok. One one server, the file starting with a dot was deleted by the server immediately after upload. And this seems a server configuration issue.

Please get in touch with your host about this. If you still feel this is a PHPloy related issue, please re-open this ticket and give us some more

[2015-04-25 09:01] #109 closed

[2015-04-25 12:17] bobrocke commented on #113
It does not work for me:
[code]
Do I have something else wrong?

[2015-04-25 17:52] banago commented on #113
Something doesn't see right. Can you please paste what you get from `phploy -l` once again?

[2015-04-25 18:03] bobrocke commented on #113
I made other changes in the meantime so I'll go from the start:
[code]
And:
[code]
See anything that helps?

[2015-04-25 18:33] banago commented on #113
So, the issues are the these two:

    user/themes/materialize
    user/themes/materializer

These two should normally be ignored and should not show as files to upload. This part works fine me, i.e. ignoring submodule names.

At this point, can you please what you get if you run `git submodule`?

[2015-04-25 18:35] bobrocke commented on #113
[code]

[2015-04-25 18:42] banago commented on #113
Found the bug - will push fix soon. Thanks @bobrocke

[2015-04-25 18:43] bobrocke commented on #113
Great! And thanks for the fabulous help.

[2015-04-25 18:57] banago commented on #113
Hey @bobrocke - it should fly now :joy_cat: Please grab latest version and let me know.

[2015-04-25 18:58] bobrocke opened #116 "More compact file list format?"
Can this:
[code]
be written like this?
[code]
Or?
[code]

[2015-04-25 19:05] bobrocke commented on #113
I think that fixed it!

To deploy a site with submodules do I need `phploy --submodules` AND `phploy`?

[2015-04-25 19:06] bobrocke opened #117 "More compact file list format?"
Can this:
[code]
be written like this?
[code]
Or?
[code]

[2015-04-25 19:07] #117 closed

[2015-04-25 19:09] bobrocke opened #118 "Add support for recursive purging"
This `deploy.ini`
[code]
gernerates this error:
[code]
Do I have my `purge[]` list formatted wrong?

[2015-04-25 19:09] banago commented on #113
Awesome to hear that!

By default submodules are turned off since they are not supposed to get deployed very often, so it saves unnecessary checks. Thus, to deploy submodules too, run this:

    phploy --submodules

[2015-04-25 19:11] bobrocke commented on #113
Thanks. I need to do a bit more testing to be sure, but it looks like you have it fixed. Thanks again!

[2015-04-25 19:12] banago commented on #116
Unfortunately that's not possible right now. This is a limitation of the `.ini` format. To support that, we will need to support another format like JSON or YAML. Until then we are stuck with it.

[2015-04-25 19:13] bobrocke commented on #116
10-4.

BTW, I'd vote for YAML. :)

[2015-04-25 19:13] #116 closed

[2015-04-25 19:14] banago commented on #113
@bobrocke I check out your blog and saw that you do quite a bit of writing. If you like PHPloy enough, it would be cool to write a post about it. Highly appreciated! :smiley_cat:

[2015-04-25 19:17] banago commented on #118
No, it seems fine. What is that `12` it's trying to delete?

[2015-04-25 19:40] bobrocke commented on #118
This, I guess:
![12](https://cloud.githubusercontent.com/assets/2962426/7334477/738886c2-eb61-11e4-9feb-7607ceaac7cf.jpeg)

[2015-04-25 19:44] bobrocke commented on #113
Let me a get a bit more experience with it on a couple of my sites and I sure will!

[2015-04-25 19:44] banago commented on #118
Oh, too bad. Got bad news for you - purge is not recursive right now, it only deletes files on the specified directory, that's why it fails when it comes across into a directory in stead of a file. We got this issue open already at #102. Sorry.

[2015-04-25 19:45] banago commented on #113
:+1:

[2015-04-25 19:45] bobrocke commented on #118
10-4.

[2015-04-25 19:45] bobrocke commented on #102
:+1:

[2015-04-26 08:36] #102 closed

[2015-04-26 08:42] banago commented on #114
@ElementalWebD This seems an issue at server level how they handle dot files. Unfortunately I don't have any more access to that server where I experienced the same issue. I'll have to close this issue for now. If more people report this, I'll have to did deeper then. Good luck!

[2015-04-26 08:42] #114 closed

[2015-04-26 08:42] #113 closed

[2015-04-26 08:43] banago commented on #71
@decanus did you find time to look into this. :)

[2015-04-26 08:47] #101 closed

[2015-04-26 08:48] #74 closed

[2015-04-26 08:53] decanus commented on #71
@banago I have been busy, ill look into it next week when I am off from Work

[2015-04-26 08:56] banago commented on #105
@craftpip what you could do in this case, is ignore `deploy.ini` so Git won't move it around and each guy can have their own version. It would be the same result as having it somewhere else outside the repo, right?

[2015-04-26 08:57] banago commented on #71
:+1:

[2015-04-26 22:50] bobrocke opened #119 "Question: Multiple deploy.ini sections defined, none specified?"
If I have a `deploy.ini` file with multiple sections for multiple servers, but none are specified in the launch command, `phploy` for example, do all sections get executed? Only the first?

What is the best way to protect from an inadvertent `phploy` when it should be called with the section name.

For example `phploy staging` might be intended, but if just `phploy` is used, will both staging and

[2015-04-27 05:11] banago commented on #119
If your servers have custom names like `staging`, `production`, then all are deployed to.

To only deploy to one server by default, you have to name that one `default` and use `--all` flag to deploy to all servers when you need to. Please refer to issue #99 for more on this.

[2015-04-27 11:37] addatwork opened #120 "Sync on certain server example in readme"
It would be nice if you could update the readme, so people know you can sync a certain server at a certain commit. I had to look through the code because i was afraid not to mess anything on the production server.

[2015-04-27 14:03] banago commented on #120
I will, thanks very much! :+1:

[2015-04-27 19:01] ChrisWiegman opened #121 "Cannot deploy with submodules"
After the initial deployment all subsequent deployments of submodules fail with the following:

fatal: Invalid symmetric difference expression [hash]...HEAD

[2015-04-27 20:42] bobrocke commented on #119
OK. For safety sake, I've configured the least dangerous to deploy to by accident server as `[default]` and then again by the name I want to reference it by. That way, if I accidentally just use `phploy` I won't mess up the `[production]` server.

[2015-04-27 20:42] #119 closed

[2015-04-27 21:08] bobrocke commented on #102
I'm still getting purge errors:
[code]
Is v3.0.19 current? That's what I got when I downloaded the repository zip.

[2015-04-28 19:38] bobrocke commented on #118
https://github.com/banago/PHPloy/issues/102 Is now closed. Is this the issue recursive purging is being tracked on? I have v3.0.19 (latest?) and it doesn't recursively purge.

[2015-04-29 11:15] banago commented on #121
@ChrisWiegman Thanks for reporting. I'll look into this and let you know.

[2015-04-29 11:17] banago commented on #118
No, I closed it because we will continue discussion on this thread. Not finished yet.

[2015-04-29 12:19] bobrocke commented on #118
Would it be soon? I'm working up my blog post.

[2015-04-29 12:24] banago commented on #118
That's awesome. Would weekend be fine? I'm too busy these couple of days.

[2015-04-29 12:25] bobrocke commented on #118
The weekend would be fine. Thanks for the great support!

[2015-04-29 23:31] bobrocke opened #122 "Invalid symmetric difference expression error"
With submodules and changes to be deployed in user/themes/materialize, I get an `Invalid symmetric difference` error:

[code]

[2015-04-30 09:51] banago commented on #122
Yep, some other guys reported this. I'll check this too over the weekend.
Seems like an issue I've caused.

[2015-05-02 10:37] #122 closed

[2015-05-06 12:15] imuller opened #123 "Capital letter in directory name"
When i deploy, PHPloy creates an folder without an capital letter. For example: i have an "Admin" directory that already exists on the FTP-server. When PHPloy deploys the files, an new folder called "admin" is created..

[2015-05-06 12:16] #123 closed

[2015-05-08 20:49] bobrocke commented on #118
Anything to report on this?

[2015-05-09 08:59] banago commented on #118
@bobrocke have been thinking go getting back to you all week. It was a hectic week for me. Let's see if I can fix this today. Tomorrow I'm heading to a conference. Will let you know.

[2015-05-12 11:08] banago commented on #121
@ChrisWiegman this is finally fixed - thanks for your patience. To make it work, you will have to manually delete the `.revision` file from the deployed submodules in your server, since that contains the wrong revision, basically the parent repo revision. Please let me know how it goes. Happy deploying!

[2015-05-12 11:08] #121 closed

[2015-05-12 11:09] banago commented on #122
@bobrocke this is finally fixed - thanks for your patience. To make it work, you will have to manually delete the `.revision` file from the deployed submodules in your server, since that contains the wrong revision, basically the parent repo revision. Please let me know how it goes. Happy deploying!

[2015-05-12 11:11] #120 closed

[2015-05-12 11:11] #105 closed

[2015-05-12 11:13] banago commented on #71
@decanus I'm closing this for now. Please reopen it anytime you think you are ready to work on this. Looking forward to your contribution.

[2015-05-12 11:13] #71 closed

[2015-05-16 13:33] bobrocke commented on #122
I no longer get the error, but `phploy -s production --submodule` does not replace the submodule `.revision` files that I deleted, nor upload changes to those submodules.

[2015-05-18 06:02] banago commented on #122
@bobrocke you need to use `--submodules` in plural. I had to test it to find out too - subtle difference :smile:

[2015-05-18 18:28] bobrocke commented on #122
Yep. `--submodules` fixed me right up. Thanks! It's working well now.

[2015-05-19 19:13] kidcodist opened #124 "phploy.phar is replacing my root vendor/composer directory with it's own vendor/composer"
Whenever I deploy it seems like my root's vendor/composer directory get's overwritten with phploy.phar's own vendor/composer directory. I first tried locally, phploy.phar in the root of my project, then I tried globally, from /usr/local/bin both had the same outcome.

[2015-05-19 20:24] banago commented on #124
@didierstockmans that's very strange. The `.phar` file is archived and it does not spit files anywhere. How are you installing it?

[2015-05-19 20:28] didierstockmans commented on #124
I just downloaded it from github and copied the phploy.phar from the bin directory to my project root.

[2015-05-19 20:30] banago commented on #124
You have done that correctly. What system are you on?

[2015-05-19 20:32] didierstockmans commented on #124
I'm on Mac Yosemite.

[2015-05-19 20:40] banago commented on #124
Great.

I have never experienced this. My best guess is that your PHAR is
configured badly. Can you have a look at your php.ini file (the cli one)
and see what's going on there for PHAR?

[2015-05-19 22:39] bobrocke commented on #118
Is this feature close to release?

[2015-05-20 07:34] didierstockmans commented on #124
Apparently there wasn’t a php.ini file configured for cli. I copied the php.ini.default.
The settings for phar are:

Phar: PHP Archive support => enabled
Phar EXT version => 2.0.2
Phar API version => 1.1.1
SVN revision => $Id: cc0fad28eb9ea42466f756c3b5fc22c764e32690 $
Phar-based phar archives => enabled
Tar-based phar archives => enabled
ZIP-based phar archives => enabled
gzip compression => enab

[2015-05-20 14:51] didierstockmans commented on #124
I just copied the whole source in my project and ran phploy.php. Everything went ok, so I guess it's probably something with the phar file.

[2015-05-20 16:27] banago commented on #124
For sure, but it's a very strange one nonetheless. I've never had this
issue. I'm keeping this ticket around in case someone else will ran unto
the same issue. Thanks and happy deploying!

[2015-05-28 11:59] didierstockmans commented on #118
+ 1

[2015-06-10 07:39] bsfsos opened #128 "Extensibility - Symfony Console component"
Lets take phploy to the next level by using symfony console component.
This will not only make it extensible but also makes integration with any frameworks easy.
Please let me know your inputs.
Thanks

[2015-06-10 12:17] addatwork opened #129 "Fails with symlinks"
That's fine by me, i understand why this happens, but is should ignore them, not fail and stop the whole deployment.

And generally, when reaching an exception for a file, it's not ok to stop the whole process.

[2015-06-13 06:27] banago commented on #129
@addatwork I agree on this. This is an issue with Brige package we use in PHPloy - it produces exceptions for fails. I hope we will get this fixed on v4.

[2015-06-13 06:27] #129 closed

[2015-06-13 06:29] banago commented on #128
@bsfsos yes, this is in the plans for v4. Would you like to contribute on this section? I would really appreciate it.

[2015-06-13 13:40] bsfsos commented on #128
@banago Sure, I will.

[2015-06-16 08:53] kkraszy opened #130 "In new version (3.1.0) --sync command send empty revision file on server."

[2015-06-16 16:09] banago commented on #130
Will check, thanks for reporting.

[2015-06-17 06:48] vytenizs opened #131 "Force mode"
Should be good to have force mode to make deployment even if there are errors like purging files or smth, because now if purge folder is empty phploy throws errors. Still nasty that purge does not support regex. For example if I want to purge only *.php php files and leave others untouched.

[2015-06-18 14:29] addatwork opened #132 "Didn't read the .revision file for some reason"
Could not reproduce, but:
- deployed in list mode, everything was ok
- deployed in normal mode: "No revision found. Fresh deployment - grab a coffee"
- killed the execution
- checked the revision file via ssh, was there and not empty
- deployed in list mode again, fine
- deployed in normal mode, worked as expected.

Needless to say, that was in production. Crapped my pants a little.

[2015-06-23 09:51] stefanvangastel commented on #124
Same issue here. Deploying from and to Ubuntu 14.04 server with phploy.phar globally.

PHPloy replaces my remote vendor/composer dir... Thats weird right? my composer.json is untouched only the installed.json file seems to be changed.

[2015-06-24 16:25] rvdborn commented on #124
Same issue.

Ubuntu 14.04 Cloned rep, installed bin/phploy.phar globally.
After uploading with -o flag to include vendor dir. All directories in vendor are uploaded properly, except for vendor/composer. Contents of the files are completely different.

Example:

autoload_psr4.php contains
[code]

[2015-06-28 19:25] bobrocke commented on #118
How is this coming along?

[2015-07-10 07:55] kkraszy commented on #130
New reporting: after rollback revision file does not change.

[2015-07-11 20:36] mrfrostikcz commented on #118
Hey, im using your phploy on symfony project same as @bobrocke and i hope if you add recursive purge option soon.

[2015-07-16 10:47] ronvankesteren commented on #124
Same issue, also Ubuntu 14.04.

[2015-07-16 14:37] GaryJones commented on #130
Can confirm both of these.

* Expected `phploy --rollback` and `phploy --rollback=123` to update `.revision` with the relevant SHA, but it updates it with the SHA of the latest commit.
* Expected `phploy --sync` to update `.revision` with latest SHA, bit it leaves an empty file instead.

[2015-07-16 15:00] GaryJones commented on #130
I think, during `deploy()`, the `setRevision()` is called, which reads from `->localRevision()`. However, that isn't set to the `currentRevision()` until `push()`, which happens after `setRevision()` is called.

If `setRevision()` started with:
[code]
then it may solve both problems (untested).

[2015-07-19 10:32] #25 closed

[2015-07-21 09:34] langur8 commented on #118
Hi, same as @mrfrostikcz, recursive purging would be awesome. Anyway, thanks a lot for phploy.

[2015-07-26 22:24] JayBizzle commented on #132
Perhaps if no revision is found on the server, the user should be prompted to confirm they want to upload everything!?

[2015-07-29 09:46] KhaOmni opened #138 "Oh snap: ssh2 PECL extenstion is not installed. Please install it to use ssh."
I'm using sftp so I don't have to get this error !!

Thanks in advance :)

[2015-07-29 11:13] peterbrinck commented on #138
You do get that error because you're using SFTP
On Linux based system, you can install SSH2 with this:
``` sudo apt-get install libssh2-php ```

[2015-07-29 11:21] KhaOmni commented on #138
I have no acces to the server via SSH mode.
I think, the developper of this plugin should mention this in requirements section.

[2015-07-29 11:22] peterbrinck commented on #138
He should mention that the SSH2 extenstion is needed

But can't you just use normal FTP then?

[2015-07-29 11:28] KhaOmni commented on #138
Unfortunately, it's not possible. I can only with SFTP
Do you now another plugin that ddo the same work as PHPloy ?
I was working with Dploy, but it contains a lot of bugs and it's no longer maintained for a while

[2015-07-29 11:29] peterbrinck commented on #138
The developer himself used to use these two:
https://github.com/git-ftp/git-ftp
https://github.com/BrunoDeBarros/git-deploy-php

I've not tried any of them

[2015-07-29 12:23] KhaOmni commented on #138
Thanks very much
I have tested git-deploy-php and have found out that SSH2 is needed again.

[2015-07-29 12:24] peterbrinck commented on #138
Even if you just use normal FTP?

[2015-07-29 12:28] KhaOmni commented on #138
The server doesn't allow it

[2015-07-29 12:42] oxodesign commented on #138
@KhaOmni you know you can run PHPLoy from your dev machine/computer, no need to use it on the server, since you can't install SSH2 on it.

[2015-07-29 13:06] KhaOmni commented on #138
@oxodesign  is there any special config that I have to do ?

My deploy.ini file contains:
[dev]
scheme = sftp
user = ********
pass = ********
host = ********
path = /htdocs
port = 22
passive = true

When I run "php phploy.phar" on my local machine, I get the error:
Oh snap: ssh2 PECL extenstion is not installed. Please install it to use ssh.

Thank you

[2015-07-29 13:35] oxodesign commented on #138
You have to install SSH2, the installation is a little different depending on your OS, @peterbrinck told you how to install it on Linux, google it for Windows!

[2015-07-29 21:01] banago commented on #138
@KhaOmni sorry for the inconvenience. All you have to do at this point is install SSH2 PECL extension locally on your computer (not on the server). What OS are you using?

[2015-08-05 18:39] bobrocke commented on #118
Is this a feature we can be expecting soon?

[2015-08-05 20:03] martin-sucha opened #142 "Add CONTRIBUTING.md"
Please add guidelines for contributors into [CONTRIBUTING.md](https://github.com/blog/1184-contributing-guidelines) that will explain at least:

* The coding style
* Who and when should generate `bin/PHPloy.phar` (btw maybe the generated archive should be attached to a release in GitHub, instead of being commited to the repository?) When #76 is fixed, this should just mention that the archive is a

[2015-08-06 09:23] banago commented on #118
Bob, sorry that this is taking forever. I've been so busy. I hope I can
implement this on the weekend. Thanks.

[2015-08-06 09:27] banago commented on #142
:+1:

[2015-08-06 14:32] AngelinDark commented on #132
Same for me.

[2015-08-07 16:24] Ilyes512 opened #143 "Can you please submit this package to packagist?"
This package is not submitted to packagist? You can do that here https://packagist.org/packages/submit

[2015-08-07 20:21] banago commented on #143
On the roadmap, but seems I'll do that sooner then planned. Thanks for opening the issue.

[2015-08-07 20:28] Ilyes512 commented on #143
:+1:  Tnx

[2015-08-08 10:34] elzette opened #144 "fatal: Invalid symmetric difference expression"
It's been great using PHPloy. I've used the same settings successfully for a number of repositories. Now with the same set up for some reason on a new I keep on getting

fatal: Invalid symmetric difference expression withnumbers...HEAD

I've read in a previous comment to delete .revision file, but this is at the first deployment, there is no revision file.

Do you have any idea what could be causi

[2015-08-10 23:24] hellodaniel opened #145 "Global installation cannot change to paths with spaces"
Deploying a project with a space in the path causes fatal error. I'm fairly sure this is an issue - happy to be corrected! Example output:

	MBP15-2:html daniel$ pwd
	/Users/daniel/Sites/Clients/Project with spaces/html

	MBP15-2:html daniel$ phploy

	---------------------------------------------------
	|              PHPloy v3.2.0-stable              |
	-------------------------------------------

[2015-08-16 19:03] banago commented on #145
@hellodaniel seems like a bug. I have no idea how to fix it. Do you have any idea?

[2015-08-16 19:05] banago commented on #144
@elzette I don't know actually what might be causing it. Can you please grab the latest version and do another test? After that I can do some more digging. Thanks for using PHPloy.

[2015-08-16 19:24] #138 closed

[2015-08-16 19:25] banago commented on #131
@vytenizs would you like to contribute this feature? I'd be happy to merge when ready.

[2015-08-16 19:26] #128 closed

[2015-08-16 19:29] banago commented on #132
This happens sometimes due to internet connection issues. It has happened to me too and I've done the same - kill the process and re-run.

[2015-08-16 19:29] #132 closed

[2015-08-16 19:31] banago commented on #124
Guys, I'm looking into this - thanks for reporting.

[2015-08-16 19:43] vytenizs commented on #131
Ofcourse i will look into it when ill have some free time. I love PHPloy its good for simple project :) Id love to contribute.

[2015-08-16 19:46] #142 closed

[2015-08-16 19:47] banago commented on #142
@martin-sucha please add anything you see fit to the contributing file. Thanks.

[2015-08-16 19:48] banago commented on #131
@vytenizs I'll be looking forward to your contributing. Until then, I'm closing this issue so there aren't many pending. Thanks.

[2015-08-16 19:48] #131 closed

[2015-08-16 21:00] banago commented on #143
PHPloy is now on Packagist as a composer package: https://packagist.org/packages/banago/phploy

[2015-08-16 21:00] #143 closed

[2015-08-16 21:28] #144 closed

[2015-08-16 21:28] banago commented on #144
@elzette this should now be fixed. Thanks for using PHPloy.

[2015-08-16 21:55] banago commented on #130
@kkraszy this is now fixed. Thanks for reporting it and for using PHPloy. @GaryJones thanks for your contribution - really appreciated.

[2015-08-16 21:55] #130 closed

[2015-08-16 22:26] banago commented on #145
@hellodaniel never mind - found end fixed. :smile:

[2015-08-16 22:28] #145 closed

[2015-08-16 22:30] banago commented on #124
@didierstockmans, @stefanvangastel, @rvdborn can you guys please grab latest version and run it to see if this is fixed? Thanks very much.

[2015-08-16 23:59] banago commented on #103
Seems we ran unto a won't-fix here. Git won't track empty directories and by extension even care if you deleted a directory or not - it just cares about the files: http://stackoverflow.com/a/10075480/512277

[2015-08-17 21:19] banago commented on #118
@bobrocke please grab the latest version of PHPloy. I've finally implemented recursive purging. I hope it works well for you. Please let me know how your tests go. Thanks.

[2015-08-17 21:32] bobrocke commented on #118
Thanks! That's going to be handy; I'll let you know how it goes.

[2015-08-18 10:28] banago commented on #118
Closing this for now. Please reopen this or create a new ticket for any issues related to this feature.

[2015-08-19 19:31] banago commented on #103
@rzds, I build a custom check for this since Git won't care. Will push shortly.

[2015-08-19 19:32] #103 closed

[2015-08-19 19:56] banago commented on #124
@didierstockmans, @stefanvangastel, @rvdborn can you guys please grab latest version and run it to see if this is fixed? I run tests on my Laravel projects but I cannot reproduce this issue. Thanks.

[2015-08-19 20:12] stefanvangastel commented on #124
Wil try asap

Op wo 19 aug. 2015 21:56 schreef Baki Goxhaj <notifications@github.com>:

[2015-08-19 20:13] mrfrostikcz commented on #118
@banago Thanks! :+1: Recursive purging via FTP working fine, but it's not usefull for Symfony2 projects, because purging all cache directories (e.g. annotations dir), etc... it takes too long.

[2015-08-20 06:08] rzds commented on #103
Yes. This is what I was thinking. When PHPloy removes some files from a directory, a quick check to see if the directory is empty. If empty, you can safely remove it.
Thanks!

[2015-08-20 16:19] banago commented on #124
@fadion do you have any idea why this might happen?

[2015-08-20 16:21] banago commented on #76
For the near future we will continue to manually build `phar` archives. We might revisit Travis-CI later.

[2015-08-20 16:21] #76 closed

[2015-08-20 17:46] fadion commented on #124
@banago no idea. Never seen it happened and didn't find any reference online.

[2015-08-20 20:31] martin-sucha commented on #76
@banago I'd be interested in more details about the reason why. Also it might be useful to use Travis CI for checking the code style even if it won't get used to build the phar archives.

[2015-08-20 22:04] JayBizzle commented on #76
StyleCI should be used for code style.

Travis should be used for testing, but probably not until the code has been refactored for easier unit testing in perhaps v4.0 of PHPloy

[2015-08-21 06:49] banago commented on #76
@JayBizzle yes, that's the idea. @martin-sucha we will eventually have it but I don't want to see things in the issues that I are not bugs and I cannot focus on immediately.

[2015-08-21 11:39] tubiz opened #150 "Can't Deploy Using SSH"
Pls I am using a Laravel Forge configured server and cant seems to connect via SSH.
I have entered my public and private key as well as the paypass but cant connect to no avail.

I keep getting this error  Could not login to 'xxx.xxx.xxx.xxx' as 'forge' using public key authentication

[2015-08-22 11:06] martin-sucha commented on #76
@JayBizzle didn't know about StyleCI, will check it out. Thanks!
@banago thank you for the info

[2015-08-22 16:38] banago commented on #150
@tubiz can you please try sftp and check if it works?

[2015-08-22 16:52] banago opened #152 "Comply to Comoser's way of delivering bin files"
Basically, move `phploy.php` to `bin/` and move `phploy.phar` to `bld/`.

Ref: https://getcomposer.org/doc/articles/vendor-binaries.md#can-vendor-binaries-be-installed-somewhere-other-than-vendor-bin-

[2015-08-22 21:25] ChrisWiegman opened #153 "Deprecated function split"
Started seeing this during a deploy today:

Deprecated: Function split() is deprecated in phar:///.../PHPloy/bin/phploy.phar/src/PHPloy.php on line 1164
PHP Deprecated:  Function split() is deprecated in phar:///.../PHPloy/bin/phploy.phar/src/PHPloy.php on line 1164

Is this something you've already addressed?

[2015-08-22 21:29] ChrisWiegman commented on #153
This looks like it was introduced in 3.5.0 the other day and also causes errant directory warnings by trying to remove non-empty directories.

[2015-08-22 22:04] banago commented on #153
Yep, I used `split` in stead of `explode` in latest changes. Will fix, thanks @ChrisWiegman.

[2015-08-23 10:17] #153 closed

[2015-08-23 17:04] schlessera opened #155 "hp"

[2015-08-23 19:36] bobrocke commented on #118
Maybe not working? I have this:

[code]

[2015-08-23 20:04] banago commented on #118
Seems like it's listing directories as files. There seems to be something wrong. Will check.

[2015-08-23 20:06] corvannoorloos commented on #118
@bobrocke there's a working password in the first post.

[2015-08-23 20:08] bobrocke commented on #118
@corvannoorloos Thanks! Big mistake. I'll go change it now...

[2015-08-23 20:09] banago commented on #118
Damn, it has been there for so long. Thanks for bringing it forward @corvannoorloos :+1:

[2015-08-23 20:22] corvannoorloos commented on #118
No problem :smile:

[2015-08-24 04:09] #155 closed

[2015-08-25 10:04] hotrush opened #156 "Error: Oh Snap: Unsupported git-diff status: ."
I am running ```php phploy.phar -o``` and receive an error

```Oh Snap: Unsupported git-diff status: .```

Others here it's a vendor directory with composer dependencies.

What am i doing wrong?

Using PHPloy v3.5.1

[2015-08-25 13:37] banago commented on #156
Seems like a bug, not your fault. Will look into it.

[2015-08-25 14:01] hotrush commented on #156
Thanks

[2015-08-27 08:27] tubiz commented on #150
@banago still  the same
This is the error am getting
PHP Warning:  ssh2_auth_pubkey_file(): Authentication failed for forge using public key: Callback returned error in phar:///usr/local/bin/phploy/vendor/banago/bridge/src/Backend/Ssh2.php on line 72

[2015-09-02 11:18] sanderha opened #157 "Option to upload specific, ignored file"
The -o or --others function is great, but would it be possible to get a function for only one file/folder? I have a folder with components i want to upload, but it is gitignored. Would be great to be able to specify this folder and upload it.

Maybe something like
[code]

[2015-09-04 13:53] vukanac opened #158 "Oh Snap: Cannot read SSH public key file:"
I need to use PHPloy to deploy to simple ftp server on shared hosting.
I have commented out everything except `quickmode` as plain ftp option.
I get error from title with warning "`array_merge(): Argument 2 is not an array`", on PHPloy:504

[2015-09-04 13:55] vukanac commented on #158
Writing test for this case would be nice start.

[2015-09-04 21:02] vukanac opened #159 "Debug line is not printed"
Line 308:
$this->debug('Command line options detected: ' . print_r($options, true));
will not print out message because debug is set later in code.

[2015-09-05 13:48] #159 closed

[2015-09-14 20:09] Eduruiz commented on #157
or a option on deploy.ini file.

in my case I have assets/ and dist/, the best will be not keep the dist/ folder out of version control, but I need to upload it if I made changes on things, so will be nice to have a something like `others[] = 'dist/'`

[2015-09-15 23:34] hellodaniel opened #161 "Plus sign (+) in passwords fail"
I've done a bit of testing and the site definitely fails when a plus sign is in the password. I've tested with most other symbols and it seems fine.

I've just updated to v3.5.1 from 2.something and this definitely wasn't an issue previously.

I've resolved the problem by changing the password but since auto-generated password sometimes contain + signs it might be work looking into.

Example outpu

[2015-09-16 06:11] hellodaniel opened #162 "Purge deletes root assets when path is specified incorrectly"
When specifying an incorrect folder the entire root is purged. This seems dangerous as it's very easy to misconfigure and lose required files in a deploy.

e.g.:

- `purge[] = '/app/folder'` Purges root (even if /app/folder exists)
- `purge[] = '/app/folder/*'` Purges root (even if /app/folder exists)
- `purge[] = '/file.ext'`   Purges root (even if /file.ext exists)
- `purge[] = 'app/folder/'` **

[2015-09-18 23:07] StyxOfDynamite opened #163 "Add support for post deployment script"
Would be great if we could give the name of a script to be run after deployment.

Example use-cases.

* database migrations
* tests
* server configuration changes
* restart services
* updating remote dependencies

I'm deploying to several environments in the following order.

dev - private local development instance
test - private remote test server
qa - limited access server where work can be tes

[2015-09-22 10:53] Rhymond commented on #156
same here :/
Oh Snap: Unsupported git-diff status: .

[2015-09-22 16:37] banago commented on #163
@StyxOfDynamite can you please add this post to this issue here: #51 Thanks!

[2015-09-22 16:37] #163 closed

[2015-09-22 16:40] banago commented on #158
@vukanac please follow this on the previously-opened issue here: #150

[2015-09-22 16:40] #158 closed

[2015-09-22 16:59] StyxOfDynamite commented on #51
Would be great if we could give the name of a script to be run after deployment.

Example use-cases.

* database migrations
* tests
* server configuration changes
* restart services
* updating remote dependencies

I'm deploying to several environments in the following order.

dev - private local development instance
test - private remote test server
qa - limited access server where work can be tes

[2015-09-22 17:00] StyxOfDynamite commented on #163
done.

On Tue, 22 Sep 2015 at 17:37 Baki Goxhaj <notifications@github.com> wrote:

[2015-09-22 20:15] banago commented on #163
:+1:

[2015-09-22 20:35] vukanac commented on #158
Sorry, I set wrong title.
Point is, I don't want to use SSH, just plain FTP, in simplest possible form.

Plain FTP don't need ssh key
->
PHPloy should not require nor ask about ssh key file!

Am I right?

[2015-09-23 06:40] banago commented on #158
Seems you need the server title too on your deploy file, like this:

    [staging]
    quickmode="ftp://username:password@hostname/public_html/directory"

Please check it out and let me know.

[2015-09-23 06:49] swiffer opened #164 "Use command line paramter for password"
It would be nice to not store the ftp pass in deploy.ini but use a command line paramter instead, so password is not in repository. GitLab for example allows ci to create secret variables that can be used when running the PHPloy tool.

Is it possible to add this functionality?

[2015-09-23 07:09] banago commented on #164
This is offered by PHPloy too. Just remove password from your 'deploy.ini' file and you will be promoted to enter a password. Please let me know how it goes.

[2015-09-28 13:24] andresnijder commented on #156
+1

[2015-09-28 13:25] mrksmts commented on #156
+1

[2015-09-28 14:25] andresnijder commented on #161
Using quotes will do the trick:
pass = 'kW~Ax3(r}^k+'

[2015-09-29 08:28] andresnijder commented on #157
+1

[2015-09-29 09:33] andresnijder opened #165 "Connection lost after compare revision/--others option"
When using the --others option, after some time connection with the server is lost and should reconnect or at least check if the connection is still available.

[2015-09-29 09:49] andresnijder commented on #156
When using -o, PHPloy::compare should not check on the status code, because the output does not contain a status code. Just a list of untracked files.

[2015-09-29 13:17] paulEgotribe opened #167 "Can't connect to server using dsa key."
Is it posible to add the $methods to the ssh2_connect(); http://php.net/manual/en/function.ssh2-connect.php

$methods = array('hostkey'=>'ssh-rsa, ssh-dss'); will be good enough for me but i can't add this trough the deploy.ini.

Tnx!

[2015-09-29 15:47] #156 closed

[2015-09-29 15:47] #165 closed

[2015-09-29 15:48] #164 closed

[2015-10-02 15:11] andresnijder opened #168 "Oh Snap: Could not remove directory"
Occurs when a directory is not empty.

[2015-10-06 19:20] bobrocke commented on #118
Is this problem still being worked?

[2015-10-07 18:20] banago commented on #118
@bobrocke yes this is till being improved.

[2015-10-08 05:31] hellodaniel commented on #161
Doesn't help (have tried double and single quotes).

[2015-10-08 05:41] hellodaniel opened #169 "Exits when directory has already been removed"
If the directory has already been removed (i.e.: no longer exists on remove host, possibly due to a previous commit adding and removing it) then PHPloy exits improperly. This is happening frequently to me and driving me nuts!

Example:

	× 39 of 39 app/subdirectory/file.ext
	PHP Warning:  ftp_rmdir(): Can't remove directory: No such file or directory in phar:///Users/daniel/.bin/phploy/vendor/bana

[2015-10-10 02:23] iMicknl commented on #162
+1. Just had the same issue today

[2015-10-10 11:50] baldurpan opened #170 "PHP Warnings when deploying with submodules"
This error always appears when running PHPloy using FTP.

Right after "Scanning for sub-submodules..."
[code]

And then when uploading files in submodule.
[code]

A screenshot of the whole thing.
![screen shot 2015-10-10 at 11 23 01](https://cloud.githubusercontent.com/assets/5663654/10410979/2df4f32c-6f44-11e5-9005-907d269d3be0.png)

[2015-10-10 11:56] baldurpan opened #171 "Unable to delete files in submodules"
I'm doing some testing with submodules and FTP deployment.
I added some dummy files and a dummy submodules called "mysubmodule".
Uploading seemed to work alright, with some PHP warnings though, but then I tried removing a file (somenewfile.txt) from the submodule, commited, pushed, everything looks good.
Deployment time.....

[code]

Oh no. Not found.
Thus the file remains on the server. :/

Scree

[2015-10-10 15:14] iMicknl commented on #169
I have the same issue. How do you fix it now? I can only fix it by doing a manually deploy and doing a --sync..

[2015-10-11 12:18] baoweber opened #173 "Initialize deploy.ini"
Thanks for the great app. Would you be up for including something like `phploy --init`, that would create sample deploy.ini file? I cloud try to code it and send a pull request.

[2015-10-11 14:48] banago commented on #173
@martinkryl I'd be more then happy to merge your pull request. So get coding :smile:

[2015-10-11 20:35] Agnis-LV opened #174 "Requirements PHP 5.4"
At requirements there is written that PHP 5.3+ command line interpreter (CLI) is needed.
But in PHPloy.php file in atleast 2 places there is a construction $array = []; (search for string "[]") which is a PHP 5.4+ feature.
Also function array dereferencing is a PHP 5.4+ feature, e.g. foo()[0].

[2015-10-12 02:43] hellodaniel commented on #169
@iMicknl I haven't found a fix - I've just been fixing it manually and using DeployBot instead where possible. Never had this issue in [v2](https://github.com/banago/PHPloy/tree/legacy) so I'm going to ditch 3 in favor of this for a while...

[2015-10-12 06:40] swiffer commented on #164
is it possible to submit password with command line parameter to ? i don't know how to insert powershell env var when php waits for input

[2015-10-12 08:03] Agnis-LV commented on #162
+1. Just had the same issue today - lost ~8GB of important data this way... ;(
Problem is in the function:
   public function purge($purgeDirs){
        foreach ($purgeDirs as $dir) {
            $origin = $this->connection->pwd();
            $this->connection->cd($dir);
            if (! $tmpFiles = $this->connection->ls()) {}

There is no check that $this->connection->cd($dir); succeeds, when i

[2015-10-12 08:21] Agnis-LV commented on #174
Also there are some requirements for GIT version.
Git version <= 1.7.12.4 will not work because there is no `git -C` command line option. It will return Unknown option: -C.

[2015-10-13 08:21] banago commented on #174
@Agnis-LV thanks for pointing these out.

[2015-10-13 08:22] #174 closed

[2015-10-13 08:23] banago commented on #170
@baldurpan this should now be fixed. Can you please grab latest version.

[2015-10-13 08:23] #170 closed

[2015-10-13 09:13] banago commented on #161
@andresnijder and @hellodaniel a fix for this is coming in a minute. Thanks for reporting it.

[2015-10-13 09:15] #161 closed

[2015-10-15 08:20] noahjohn9259 commented on #150
I have the same issue on this.. Normally sftp connections i used only private key file without the public key using ftp client.

[2015-10-16 15:21] banago commented on #169
@hellodaniel and @iMicknl sorry for this issue. It is now fixed. If you could grab the latest version, it would be awesome. Happy deploying!

[2015-10-16 15:21] #169 closed

[2015-10-16 15:22] banago commented on #168
@andresnijder this is now fixed. If you could grab the latest version, it would be awesome. Happy deploying!

[2015-10-16 15:22] #168 closed

[2015-10-16 15:56] banago commented on #171
@baldurpan thanks for reporting this. I was able to reproduce this error and eventually fix it. Grab the latest version of PHPloy and see for yourself :smile: Happy deploying!

[2015-10-16 15:56] #171 closed

[2015-10-16 16:08] baldurpan commented on #171
Sweet! Thanks mate. ;)
Quick question. Will there be a submodule supported rollback any time soon?

[2015-10-16 18:12] banago commented on #171
@baldurpan that's a tedious tasks and need a bit more of mental space as of what I can give it right now, so I won't be very soon I think. I hope you won't miss it too much.

[2015-10-16 21:50] banago commented on #167
@victorstanciu I had a good look into using auth keys and seems I cannot make it work. I get this:

    PHP Warning:  ssh2_auth_pubkey_file(): Authentication failed for testuser using public key:
    Callback returned error in phar:///usr/local/bin/deploy/vendor/banago/bridge/src/Backend/Ssh2.php on line 72

Could you please have a look?

[2015-10-16 21:55] banago commented on #150
I looked into this quite deep but cannot find a solution. I pinged @victorstanciu the original implementer of this. Let's hope he has a look into it.

[2015-10-17 18:20] banago commented on #162
@hellodaniel, @iMicknl and @Agnis-LV this issue is now fixed. Please check grab latest version of PHPloy (3.5.6).

@Agnis-LV I'm very sorry you lost your 8GB of data. To show my regret I put this put a note about this incident on [PHPloy source code](https://github.com/banago/PHPloy/blob/3.5.6/src/PHPloy.php#L1131). I hope this cheers you up a bit. :smile:

Happy deploying!

[2015-10-17 18:20] #162 closed

[2015-10-17 19:39] banago commented on #118
@bobrocke I've done several improvements to recursive purging. Can you please grab the latest version and test it out.

[2015-10-19 15:53] banago commented on #124
@didierstockmans, @stefanvangastel, @rvdborn can you guys please grab latest version and run it to see if this is fixed? Thanks very much.

[2015-10-25 20:13] indrisepos opened #176 "Cannot create directory with hidden file"
* My system: ubuntu 12.04 + proftpd default config
* The fail: At first deploy, when the .revision file not exist, the PHPloy upload all files and direcories to the ftp server. If I deploy a directory with hidden file then can not make that directory.
* In deep:

1) In the Banago\Bridge\Backend\FTP->mkdir() does not check the direcory exists.
2) The proftpd default config's ListOptions: '-l', it w

[2015-10-27 15:38] strauss69400 opened #177 "Option to set file permissions"
hi,

i have a little problem about right on my files.

when i upload my files by fillezilla, rights are good.Indeed, my files are in 664 and my folders in 775.
but the problem when i upload my files by phploy, rights become 644 and 755 for folder.

why phploy alter right by defaut of the files and folders.

is there a solution to resolve this problem.
i thank you for you help.

PS: sorry for my en

[2015-10-28 22:54] dling61 opened #178 "Creating a directory on my server"
I have a directory structure on my git repository /public/javascripts, /public/stylesheets and so on. I want to deploy everything under /public directory to my hosting server under /test directory. But i don't want "public" directory being created on my server. How can i do that? Does Phploy support it?

[2015-10-30 18:44] banago commented on #178
PHPloy mirrors the structure of your git repository. So on your server will be created the same directory structure as locally. Hope it make sense.

[2015-10-30 18:44] #178 closed

[2015-11-03 21:52] martinkryl commented on #173
Sorry for the delay, I will try to code it over the next week, I was just checking whether it would be something that you would approve of.

[2015-11-04 22:10] JayBizzle commented on #177
`755` should suffice for most server setups. You would only need `775` if apache (assuming your using apache) is run as a different user to the one who owns the folder, but is a member of the same user group, then `775` will suffice.

There is no way for PHPloy to set file/folder permission currently, out of scope in my opinion.

[2015-11-05 19:13] hellodaniel commented on #168
Hi @banago - I don't think this is fixed, just received this (running the latest version) -
PHP Warning:  ftp_rmdir(): Can't remove directory: Directory not empty in phar:///Users/daniel/.bin/phploy/vendor/banago/bridge/src/Backend/Ftp.php on line 212

[2015-11-07 14:59] louislam opened #180 ""phploy -o" do not upload untracked submodules correctly"
Some composer packages of my project are using "dev-master" version. Those packages in "vendor" contain ".git" directory. It seems that the git command do not list out the untracked submodule in this case.

![2015-11-07_224211](https://cloud.githubusercontent.com/assets/1336778/11015693/8a9ec99e-85a2-11e5-8618-f6951ed20ae0.png)

As my "vendor" folder is ignored by git, adding arg "--submodules" is

[2015-11-08 12:50] baoweber opened #183 "No help output"
I have been trying to issue a fix for the `--help` command as it point to a non-existent readme.md file (in the src folder), but then I realized that the project readme isn't packed into phar file anyway.  Sould I try to create a brief help that would sit in the src folder and thus would show when the user asks for help?

[2015-11-08 13:44] malukenho commented on #183
+1

[2015-11-08 16:57] banago commented on #183
@baoweber we will move away from the file solution and have the help be build on the fly by using something like this hopefully: https://github.com/nategood/commando Thanks for reporting this.

[2015-11-08 17:03] banago commented on #177
@strauss69400 this normally happens because of misconfiguration of server users permissions. Even though permission can be enforced by PHPloy, I don't see this being implemented in the foreseeable future. So, I'll have to close this for now, sorry.

[2015-11-10 15:15] #118 closed

[2015-11-10 15:15] #124 closed

[2015-11-11 09:00] rasmuswoelk opened #184 "skip[] isn't skipping folder"
Hi

I'm using the latest version of PHPloy (great stuff!). When I try to skip my "production"-folder in my theme folder it doesn't recognize the setting for some reason. It uploades my entire production folder with node_modules and all.

Lines in my deploy.ini:
path = /exerp
skip[] = '/exerp/wp-content/themes/exerp/production/node_modules/'
skip[] = '/exerp/wp-content/uploads/*'

I use the FTP sch

[2015-11-11 09:10] rasmuswoelk commented on #184
My gitignore wasn'nt functioning properly so that fixed my issue.

[2015-11-11 09:10] #184 closed

[2015-11-11 11:39] banago commented on #184
:+1:

[2015-11-11 15:15] baoweber commented on #173
Thanks for the merge, I am closing this issue :+1:

[2015-11-11 15:15] #173 closed

[2015-11-12 16:01] raisty opened #185 "[info] Premissions"
Is it possible define premissions for files and folders in deploy.ini?

Thank you

[2015-11-13 15:10] JayBizzle commented on #185
See #177

[2015-11-13 15:14] JayBizzle commented on #183
A switch to [Symfony/Console](https://github.com/symfony/Console) would be nice

[2015-11-14 12:44] banago commented on #185
Not right now, but it might be possible in PHPloy 4.0 that is under development. Stick around :smile:

[2015-11-14 12:44] #185 closed

[2015-11-22 06:29] corvannoorloos opened #186 "Installing PHPloy globally on Windows"
Hello,

Trying to install PHPloy **globally** on Windows 7, I'm apparently having some issues finding `phploy.phar`.

Using PHPloy **locally** I've copied the `phploy.phar` into my project folder.
And running `php phploy.phar --version` from my project folder to see if everything is working as expected.

I've created a sample `deploy.ini` by running `php phploy.phar --init`.
And after entering my

[2015-11-22 09:23] martin-sucha commented on #186
Copying `phploy.phar` to `C:\Windows\System32\phploy.phar` would not work as PHP itself does not look for scripts in `%PATH%`. Windows looks there for executable files (which includes `.bat` files).

Running PHPloy globally works like this: You run `phploy.bat` which in turn itself launches PHP with the correct arguments to run `phploy.phar`.

Therefore `phploy.bat` must be accessible from directo

[2015-11-22 10:00] corvannoorloos commented on #186
That explains. Thanks!

I've added `C:\Users\Cor\Desktop\PHPloy` to my Windows `%PATH%`.

Editing `php C:\path\to\phploy %*` in `phploy.bat` is where things got a bit confusing, as I was only able to run `phploy --version` anywhere using the full filename `php C:\Users\Cor\Desktop\PHPloy\bin\phploy.phar`.

[2015-11-22 10:01] #186 closed

[2015-11-24 14:05] craftpip opened #188 "Example for public and private key."
I get the error `Authentication failed for ubuntu using public key: Invalid public key data`.
My public key file looks like so:
[code]

Can someone please correct me on this ?
Thanks

[2015-11-24 14:25] banago commented on #188
Please remove public file from display.

[2015-11-26 09:56] slowpokefarm opened #189 "SFTP doesn't work"
As subject says, the sftp scheme doesn't work.

[code]

Looks like it can not find the remote path. Ftp works fine with same settings.

[2015-11-26 11:46] slowpokefarm commented on #189
My mistake, I didn't assume sftp uses full path beginning from / while ftp uses relative path. Works now.

[2015-11-26 11:46] #189 closed

[2015-11-26 17:38] banago commented on #189
:+1:

[2015-11-26 17:39] banago commented on #188
We have to open tickets for this now. I could not get this to work on my end and waiting for the contributor of this feature to get back before I do something about it. I'm closing this. Please watch the other tickets for now.

[2015-11-26 17:39] #188 closed

[2015-12-03 08:01] sandeepsrivastava opened #191 "Phploy V3.5.6 is not working with Git V1.8.3 on Window-7(64 bit)"
Hi team,
I am working on widow 7 and PHPloy was working fine until I updated the version with 3.5.6. After updating the version of PHPloy (3.5.6) it started showing error  "Unknown option: -C".

Although my GIT version is 1.8.3 which fulfil your minimum requirement but still  it seems related to GIT version. I updated the git version (2.6.3) and Issue got resolved.

I also reviewed the code and fo

[2015-12-04 14:56] chlab opened #192 "Could not change directory to """
Hi

Just tried using phploy. This is whay my deploy.ini looks like:

[code]

When I run `phploy -s staging` I get
[code]

[2015-12-04 15:26] chlab commented on #192
Found out what's wrong. I had to supply the full path on the server `/var/www/vhosts/deploy.test`.

Still, looks like the error isn't working properly. Also: a verbose mode would be nice!

Thanks for the good work!

[2015-12-06 15:56] banago commented on #83
Everyone, PHPloy 4.0 alpha is out: https://github.com/banago/PHPloy/tree/4.0

As envisioned several months ago, Bridge is dropped in favor of Flysystem package. Also overall OOP architecture is improved.

Some non-backward compatibly changes have been introduced such as, `skip[]` is now `exclude[]` and `others` is now `include[]`. Also, all references to `deploy.ini` are now `phploy.ini`

I'd real

[2015-12-06 15:59] banago commented on #192
The dot (.) in the directory name might be the culprit.  Also, the verbose mode is available by running `--debug`.

Thanks for using PHPloy.

[2015-12-06 15:59] banago commented on #191
Thanks for reporting this. :+1:

[2015-12-06 15:59] #191 closed

[2015-12-06 17:15] JayBizzle commented on #83
Awesome stuff, will check it out when I get a minute

[2015-12-06 20:07] InfinityWebMe opened #193 "Script execution after and before"
Hello,

i would like to know it's possible to execute ( or call ) a script before and after the deployment to execute custom action ?

[2015-12-06 20:09] banago commented on #193
@InfinityWebMe it's not possible now but we have that part of the long-term plans. If you can share your use-case with us, it would be great.

[2015-12-07 06:18] #193 closed

[2015-12-07 07:27] chlab commented on #192
Ok thanks. Don't think so, it worked with the full path. I think the error message is just using the wrong variable.

[2015-12-07 07:27] #192 closed

[2015-12-07 08:36] InfinityWebMe commented on #51
:+1:  databases migrations and updating remote dependencies, it would be great :D

[2015-12-14 16:45] m4nolo commented on #157
+1

[2015-12-17 12:15] chlab opened #195 "Mapping directories?"
I want to upload the contents of the `www/` directory to the root `/` of the ftp server. Is this possible with PHPloy?

I would be open to implementing this if it's not possible as I think it's a common usecase for people to have their deployable code in a `www/` oder `build/` folder. As I see it, there are two ways to implement this:

1. add a `base_path/` (or similar) directive to each server-bl

[2015-12-21 08:49] dendeffe opened #196 "Cannot remove"
I was getting this error a lot (also in the latest version)

Oh Snap: Could not remove directory 'wp-content/plugins/wordpress-seo/vendor/yoast/license-manager/tests'

Not sure if it’s always that specific folder.
Going back to Version 2 of PHPloy works.

[2015-12-22 18:53] banago commented on #157
Good news guys - this feature now landed on 4.0 branch: https://github.com/banago/PHPloy/commit/5e8f48ea2370884bdade22a47432d562e77fcc89

[2015-12-22 18:55] banago commented on #196
This issue is fixed in verison 4.0. Do you think you can grab it and give it a try: https://github.com/banago/PHPloy/tree/4.0

Thanks.

[2015-12-22 18:56] banago commented on #195
This is not a hard technical problem, but I don't have the time to implement it right now. Do you think you can help here? I'd be more then happy to merge your contributions.

[2015-12-29 03:18] corvannoorloos commented on #83
Hello,

Trying to deploy [all including a submodule](https://github.com/corvannoorloos/example-website) to an empty server I'm receiving this message:
[code]
All of the mentioned files are in the root directory `example-site`. Not in `example-site/wordpress` (except a different `index.php`)

After the root files are correctly uploaded, an almost empty subdirectory is created. Only containing the d

[2015-12-29 12:42] mrameezraja opened #197 "Copying/moving a directory from upload path to another path on the server after a deployment?"
What about copying/moving a directory from upload path to another path on the server after a deployment?

Like we have purging feature. We could have something like

// ['source folder on server', ' destination folder on server']
copy[] = ["/source/public/",'public_html/' ] // folder or file

// ['source folder on server', ' destination folder on server']
move[] = ["/source/public/",'public_html/'

[2016-01-04 13:22] chlab commented on #195
I started playing around with this on the weekend. I'll send a pull request when I'm finished. Might take a while though, kinda busy at the moment. I'll close this issue for the time being.

[2016-01-04 13:22] #195 closed

[2016-01-05 16:13] mneimne commented on #197
very useful,I usually have a public folder inside my application, Ill for the project and try to implement this functionality

[2016-01-18 08:52] vytenizs opened #198 "Unusable while uploading all files"
PHPloy was working fine till some point, but then it started uploading all files instead of just version control files at first upload it became unusable. How to stop uploading all garbage to servers?

[2016-01-21 09:49] ogrosko opened #199 "Remote status"
What about deploy command option --status which give you actual remote revision ID
Is it possible to implement?

[2016-01-22 07:12] banago commented on #199
Yes, that would be very easy to implement. In what case do you think one might need this?

[2016-01-22 07:16] banago commented on #198
Start using PHPloy 4.0 please: https://github.com/banago/PHPloy/tree/4.0

[2016-01-22 07:16] #198 closed

[2016-01-22 07:18] ogrosko commented on #199
I need sometimes to check which version is deployed on remote server and compare with git log etc.
If it should be implemented for me, so let it be ...

[2016-01-22 08:07] banago commented on #199
Do you know you could do `phploy --list` to see what files are up for upload? Would this be good enough?

[2016-01-22 08:10] ogrosko commented on #199
Yes of course ;) But sometimes there are too many files changed so I want to check it in git log.

[2016-01-25 15:18] dendeffe commented on #196
Hmm reinstalled 3.5.6 which does indeed seem to fix this.
Weird. I thought I already had that version.

[2016-01-25 15:18] #196 closed

[2016-01-28 10:05] inluxc commented on #51
Here is an discussion about that, i run magento projects and i would love this feature in the deploy action.
http://unix.stackexchange.com/questions/55190/how-to-send-multiple-commands-to-sftp-using-one-line

[2016-01-31 20:15] adrianocr opened #200 "SSH2 pecl extension installation on osx 10.11"
So phploy works fine through ftp but I would love if I could use it through sftp. However on osx el capitan (10.11.3) I can't get the pecl extension to install. Anyone else have an issue with this?

The error is: `Oh Snap: ssh2 PECL extension is not installed. Please install it to use ssh.`

[2016-02-02 09:46] dendeffe opened #201 "SSH2 installed, can not upload to SFTP"
As far as I can see, I have SSH2 installed:
http://take.ms/Jbxh5
(On Mamp Pro 2.2, via https://www.allsupported.com/install-ssh2-on-osx-mamp-pro/)

File also seems to be on the location I expect it to be: http://take.ms/6lDjk

But PHPLOY still gives the error Oh Snap: ssh2 PECL extension is not installed. Please install it to use ssh.

Any idea what else I can do?

[2016-02-02 10:58] InfinityWebMe opened #202 "Proposal - Bind a server to a branch"
Hello,

It would be nice to be able to bind a server to a branch.

Example : [production] bind to master branch and [staging] bind to develop branch.

Thoughts?

[2016-02-04 10:47] dendeffe commented on #201
Never mind. I got there eventually. Still had to add the extension properly to php.ini.

This helped: http://www.dionysopoulos.me/add-the-ssh2-extension-to-mamp.html

[2016-02-04 10:47] #201 closed

[2016-02-04 10:49] dendeffe commented on #200
@adrianocr Just got it working (with Mamp (PRO, an old version)) on el capitan.

These guides helped (you have to modify the instructions a bit, though):

https://www.allsupported.com/install-ssh2-on-osx-mamp-pro/
http://www.dionysopoulos.me/add-the-ssh2-extension-to-mamp.html

[2016-02-04 16:13] adrianocr commented on #200
@dendeffe I just got it working. I used Homebrew to install PHP56 with the --with-perl flag. That built and added php56 to my /usr/local/bin directory and then I set that as my default php. I then used PECL to install ssh2 and it's all working now.

The issue seemed to be that PECL couldn't install extensions to the default php. I'm assuming that's because it's based out of /usr/bin/ and the new E

[2016-02-05 07:30] banago commented on #51
:+1:

[2016-02-05 07:31] banago commented on #202
This has been proposed before and I like the idea. If you would like to develop this, I'd be happy to merge.

[2016-02-05 07:32] banago commented on #201
:+1: Please make sure to check out 4.0 branch that does not require ssh2 extension any longer. Thanks for using PHPloy.

[2016-02-05 07:33] banago commented on #200
Guys, it's high time you jumped into 4.0 version. :smile_cat:

[2016-02-05 07:33] #200 closed

[2016-02-05 07:34] banago commented on #199
Alright then, if you want it, you have to implement it. :smile:

[2016-02-05 07:49] adrianocr commented on #200
@banago does 4.0 not require the ssh2 extension or something? Haha

[2016-02-05 07:53] banago commented on #200
Nope. It uses libssh library. :smile:

[2016-02-07 01:46] hellodaniel opened #203 "Upload then delete"
I've been using both PHPloy 2 and PHPloy 3 simultaneously for a while now and I've noticed one significant difference that I'd like to ask about:

- PHPloy 2.x seems to upload all new/modified files THEN delete
- PHPloy 3.x seems to delete all files THEN upload new/modified ones

I much prefer the way PHPloy 2 does it - especially when moving files because they simultaneously exist in the 2 locati

[2016-02-08 14:12] InfinityWebMe opened #204 "4.0 - Revision not retrived on some hosts"
Hello,

i try to use phploy 4 but when i launch a sync, every time, i had the message "No revision found - uploading everything..".

On debug mode, i had "Fetching .revision file" and when i display the list of files with "print_r($this->connection->listContents(), true)", the file is there.

[code]

i'm with FTP connexion and ,with version 3, no issue.

Any idea ?

[2016-02-08 14:21] banago commented on #204
I've run into this myself. I'll address this as soon as I find a bit of
time.

Thanks for reporting it.

[2016-02-10 17:09] banago commented on #204
@InfinityWebMe you have the honor to close this issue. :+1:

[2016-02-11 10:46] InfinityWebMe commented on #204
@banago I still have the issue :-/

[2016-02-11 10:47] banago commented on #204
Sorry, I though this was fixed. It's OK, I'll look into that.

[2016-02-11 10:48] InfinityWebMe commented on #204
I reported the issue in FlySystem repostiory : https://github.com/thephpleague/flysystem/issues/601

[2016-02-11 16:17] jchristopher commented on #83
Just wanted to pass along a note that I got hung up on some public key authentication issues in version 3.x but it's not an issue here! Thanks so much for your work on this it saves a lot of headache!

[2016-02-12 05:49] banago commented on #20
This is being implemented in 4.0 branch.

[2016-02-12 07:16] davidromani commented on #20
:+1:

[2016-02-12 09:25] InfinityWebMe commented on #202
It's done, i close this issue :)

https://github.com/banago/PHPloy/pull/206

[2016-02-12 09:25] #202 closed

[2016-02-15 11:56] InfinityWebMe commented on #204
Issue resolves with this : https://github.com/thephpleague/flysystem/pull/605

But actualy only on dev-master.

[2016-02-15 12:05] banago commented on #204
Great. By the time we go stable with 4.0 the will have tagged it hopefully.
Thanks for sticking to this.

[2016-02-23 20:54] desertknight commented on #107
Just edit __phploy.bat__ with
`php C:\Some\Directory\Where\Install\PHPloy\bin\phploy.phar %*`

[2016-02-23 20:58] desertknight commented on #186
[view my comment here](https://github.com/banago/PHPloy/issues/107#issuecomment-187899972)

Just edit __phploy.bat__ with
`php C:\Some\Directory\Where\Install\PHPloy\bin\phploy.phar %*`

[2016-02-23 21:04] banago commented on #186
:+1:

[2016-02-25 18:27] deltamualpha opened #207 "composer.json requirements are all @dev"
This makes it harder to install PHPloy using composer, because composer by default refuses to install dev versions of required packages unless they're specifically whitelisted in the root composer.json *or* the root changes its minimum required-stability. See [the composer documentation](https://getcomposer.org/doc/04-schema.md#minimum-stability) for more details, and composer issue reports like <

[2016-02-26 10:11] banago commented on #207
@deltamualpha please grab 4.0 version where this issue is addressed: https://github.com/banago/PHPloy/tree/4.0

[2016-02-26 10:11] #207 closed

[2016-02-29 09:36] Eartz opened #208 "FTP 'passive' option"
Hi,

First thank you for this project, It's awesome !

I noticed that in the current master, if the scheme is ftp it isn't possible to disable the passive mode even with the `passive = false` flag in deploy.ini.

To allow this I need to change things a bit in src/PHPloy.php itself and in a dependency (Banago\Bridge\Backend\FTP).

My question : by looking at the code, it seems that this problem is

[2016-02-29 10:31] banago commented on #208
Hey @Eartz

Please jump into 4.0 branch because I'm not actively maintaining 3.x any more. Thanks.

[2016-03-01 06:58] ankit-krishinc opened #209 "Remote repo"
Hello,

Thanks for this great tool to deploy.

It seems it is tracking local git repo. Is it possible to track revision on remote and deploy the changes from remote repo to server?

This is required because the person who is deploying may not have clone of central repo.

[2016-03-01 07:01] banago commented on #209
@ankit-krishinc this is not possible at this point. Because remote repos are `bare` repos (don't have a worktree) and PHPloy needs a worktree to work with. This is something I might add in the future because is a nice thing to have. Stay tuned.

[2016-03-01 07:01] #209 closed

[2016-03-12 17:56] #208 closed

[2016-03-12 18:00] banago commented on #203
I'm sure I had an reason for this change, but I'm not sure now. Keeping this around to check for version 4.0.

[2016-03-12 18:01] #199 closed

[2016-03-12 18:03] banago commented on #197
I don't see this happening any time soon, but more then happy to pull it if someone implements it.

[2016-03-12 18:04] banago commented on #176
@indrisepos can you please check PHPloy 4.0.

[2016-03-12 18:04] #176 closed

[2016-03-13 17:18] banago commented on #83
Hello everyone,

PHPloy 4.0 has hit the master branch. It's in beta, but should be rock solid.

Grab a copy and happy deployment!

:fireworks:

[2016-03-13 17:19] banago commented on #204
@InfinityWebMe this should now be fixed. Please check out latest version.

[2016-03-13 17:19] #204 closed

[2016-03-13 17:20] banago commented on #183
@baoweber and everyone, PHPloy 4.0 now has a nice help output. Check out out:

    phploy --help

[2016-03-13 17:20] #183 closed

[2016-03-13 17:21] banago commented on #180
@louislam, the  `-o` flag has now been replaced. Please check out latest version of PHPloy.

[2016-03-13 17:21] #180 closed

[2016-03-13 17:24] banago commented on #157
Guys, this feature is now in master branch. Please check out the sample `phploy.ini` and look for the `include[]` lines.

[2016-03-13 17:24] #157 closed

[2016-03-13 17:26] banago commented on #167
This is now fixed in version 4.0 that landed in master branch a bit ago.

[2016-03-13 17:26] #167 closed

[2016-03-13 17:26] banago commented on #150
This is now fixed in version 4.0 that landed in master branch a bit ago.

[2016-03-13 17:26] #150 closed

[2016-03-13 17:27] banago commented on #51
Support for hooks is now added in version 4.0 that landed in master branch a bit ago. Please check it out.

[2016-03-13 17:27] #51 closed

[2016-03-13 17:29] #152 closed

[2016-03-14 07:23] vaidotas-adf opened #212 "purge function removes files, but leaves directories"
Using PHPloy-3.5.6. Added purge option to ini. After executing phploy only files from purge directory were removed, directories were not deleted.
Using Windows 7, PHP 5.4. Remote server - FTP.

[2016-03-14 17:13] banago commented on #203
@hellodaniel this is now addressed. Thanks for using PHPloy.

[2016-03-14 17:13] #203 closed

[2016-03-14 17:14] banago commented on #212
@vaidotas-adf this is now fixed in version 4.0. Please grab latest version.

Thanks for using PHPloy.

[2016-03-14 17:14] #212 closed

[2016-03-15 08:15] banago commented on #20
@davidromani and @SimonEast, deploying from a branch is not implemented.

Big thanks to @InfinityWebMe for this.

[2016-03-15 08:15] #20 closed

[2016-03-15 08:27] banago commented on #32
Logging from CLImate: https://github.com/thephpleague/climate/pull/60#issuecomment-76657014

[2016-03-15 09:16] natsu90 opened #213 "Your requirements could not be resolved to an installable set of packages"
Got error below. What did I miss?

[code]

[2016-03-15 09:44] banago commented on #213
Seems a temporary issue. Please try again.

[2016-03-15 09:54] natsu90 commented on #213
I installed using `wget https://github.com/banago/PHPloy/raw/3.5.6/bin/phploy.phar`. Thanks anyway.

[2016-03-15 09:54] #213 closed

[2016-03-15 17:12] banago opened #214 "Installing PHPloy globally in Windows"
Here is how you install PHPloy globally on Windows:

1. Extract or clone the PHPloy files into a folder of your choice
2. Ensure phploy.bat can find the path to php.exe by either:
    * Adding the path to php.exe to your system path
    * Manually adding the path inside phploy.bat
3. Add the phploy folder to your system path
4. Run `phploy` from the command prompt (from your repository folder)

Ad

[2016-03-15 17:14] #214 closed

[2016-03-21 10:39] baoweber commented on #83
So far great! I will keep on testing, but the pre- and post- deploy hooks are just great. Thank's a lot!

[2016-03-21 10:51] banago commented on #83
Cool beans! Thanks for your feedback.

[2016-03-25 09:42] ArbnorZeqiri opened #215 "Create .phployInclude and .phployExclude"
use .phployInclude and .phpExclude instead of include & exclude arrays, respectively (similar to .gitignore).

p.s. can I work in it ?

[2016-03-25 17:33] banago commented on #215
Hey @ArbnorZeqiri thanks for using PHPloy.

I don't find the feature you are suggesting very appealing because it will pollute the working directory unnecessarily. So, I don't see it making it into PHPloy. Is there any particular reason why you need this feature?

On the other hand, there is one feature remaining before PHPloy 4.0 goes stable. It's the logging feature here #32. Would you like to i

[2016-03-26 21:29] #215 closed

[2016-03-27 20:23] MichalSeidler opened #216 "Include function does not include subdirectories"
When i try include[] = 'vendor/' deploy script only uploads autoloader.php but not other subdirectories.

[2016-03-28 05:35] banago commented on #216
It shouldn't be the case. Will look into it, thanks for reporting.

[2016-03-28 07:00] banago commented on #32
Basic logging is now implemented. Turn it on by adding `logger = on` to config file and check out the results at `phploy.log`.

I'd appreciate your feedback on this very much.

[2016-03-30 05:28] ankit-krishinc opened #217 "4.0.0-Beta - Connection protocol"
Hello,
Thanks for the amendments found in the 4.0.0-Beta version especially the 'branch' directive.

However, it looks like it supports FTP and sFTP only. Connection through SSH is seemingly not working now.

--
Thanks

[2016-03-31 06:11] banago commented on #217
Since PHPloy 4 makes use of the flysystem package, it does not support ssh. I'm pretty happy with just SFTP for now. Any reason why you would want SSH support?

[2016-03-31 06:11] #217 closed

[2016-03-31 06:11] #32 closed

[2016-03-31 06:43] banago commented on #216
@MichalSeidler this should now be fixed. Tested it and works as expected on my end. Please grab latest version and check it out. Thanks.

[2016-03-31 06:43] #216 closed

[2016-03-31 07:35] banago commented on #83
Everyone, PHPloy 4.0 stable is out and up for grabs.

Enjoy! :fireworks:

[2016-03-31 07:35] #83 closed

[2016-03-31 07:57] banago opened #218 "Help spread the word about PHPloy"
It has been a great ride developing PHPloy, and it's a great feeling to finally ship version [4.0 stable](https://github.com/banago/PHPloy) to the world. This would not be possible without your help and feedback guys, so thank you.

I spend considerable time and effort developing and maintaining PHPloy. At his point, I'd be comfortable to ask for donations, if I needed to, and I'm sure I'd receive

[2016-04-01 08:14] dl1ely commented on #197
Here you are: #219

This implements a recursive copy for whole directories (no file globbing), omitting missing source directories and overwriting existing files no matter what. I use it to correct an Apache HTTP root dir that is public/ on my machine and www/ on the customers machine when deploying to the customer machine by copying the contents of my public/ into the www/ on the customer machine

[2016-04-01 10:38] reibejoy opened #220 "Can not find files but they are there"
I am having a weird problem. Probably config related. I get the following messages:

`jmueller@Jans-iMac:~/Desktop/repos/phploytest$  php phploy -s staging -l`

|                   PHPloy v4.0                   |
---------------------------------------------------
LIST mode: No remote files will be modified.
No revision found - uploading everything...
Already on 'master'

   Files that will be upl

[2016-04-01 16:53] banago commented on #197
@dl1ely amazing job implementing this, thanks. One question though, why did you decide to do this, `
omitting missing source directories`? This will break the site when you add new stuff and it's not take live. Don't you think?

[2016-04-01 17:01] banago commented on #220
The error says the files does not exist locally. I'm finding it hard to figure out what your issue is exactly.

[2016-04-01 17:53] shekki25 opened #221 "phploy --sync not working"
`phploy --sync` command not working as intended on 4.0 stable. It tries to run phploy as if there were no arguments.

[2016-04-01 20:10] dl1ely commented on #197
@banago I do not understand your question, or you do not understand my comment, i am not sure.

If the directory that should be copied ("fromDir" in copy[] = "fromDir/ -> toDir/") is missing, there are two possible ways:
a) Do not check if it exists, just try and list the files in that directory. That yields an ugly error message on the console.
b) Check if the directory exists, and if not, just s

[2016-04-01 20:42] banago commented on #197
Makes sense now and I agree with your solution. I thought you were skipping inner directories. All good. Thanks a lot for your contribution.

[2016-04-01 20:52] dl1ely commented on #197
No, inner directories are copied recursively.

[2016-04-01 20:54] dl1ely commented on #220
Well, it is easy to spot. i guess foo and bar were created by „touch“ and are 0 byte long. PHPloy thinks they are not there because the return value check when reading the files is done too sloppy. The fix is in #222.

[2016-04-01 21:01] dl1ely opened #223 "Conceptual problem: .revision get updated although not all files were transferred"
PHPloy updates the SHA hash in .revision on the server even when there were errors while uploading files, for example because they are not readable. This is not consistent and may lead to wrong deploys that are not easily recognizable because on the next run PHPloy compares the SHA hash from .revision with the current SHA of the repo and thinks the server is in sync, which is not true.

[2016-04-01 21:06] dl1ely commented on #221
Argument parsing seems to have a problem:
Notice: Undefined offset: 1 in …\PHPloy\vendor\league\climate\src\Argument\Parser.php on line 195

So the sync option is not recognized. Looking into it.

[2016-04-01 21:44] #220 closed

[2016-04-01 21:45] banago commented on #197
This is now merged. Thanks a lot.

[2016-04-01 21:45] #197 closed

[2016-04-01 21:45] reibejoy commented on #220
That's exactly what happened. Thanks for pointing it out and fixing it.

[2016-04-01 21:47] banago commented on #220
@reibejoy this is now merged in master. Thanks very much for reporting it. And @dl1ely thanks very much for figuring it out.

[2016-04-01 21:48] banago commented on #223
What do you think should happen in this case? Leave the old SHA in place?

[2016-04-01 22:00] dl1ely commented on #221
Hmm, there is some deeper problem in using the argument parsing library. Both --sync and --rollback need arguments in the form of `--sync=[SHA1 hash]` or `--sync [SHA1 hash]`. Only `--sync` or `--rollback` does not work, and the argument parsing library does NOT return the defaultValues ("LAST" for sync and "HEAD^" for rollback) as @banago seem to expect it. I do not know where the fault is, guess

[2016-04-01 22:13] banago commented on #221
@dl1ely you are perfectly right. It seems to be a flysystem issue because this did not happen when I initially implemented it. I'll update PHPloy to fix the sync/LAST discrapency, so it will accept `--sync=LAST` as expected.

[2016-04-01 22:14] dl1ely commented on #223
The best way would be to implement it like a transaction: If the uploading of any file fails, rollback to the previous commit (before the update) to keep the system in a consistent state, and keep that SHA1 in .revision. The user has the chance to fix the problem with his local files (hopefully) and retry.

But i know how hard it is to implement transactions. But if the existing rollback mechanism

[2016-04-01 22:18] dl1ely commented on #221
@banago But CLImate Argument Parser does not seem to support the defaultValue values, so `--sync` will not work like `--sync=LAST`, although defaultValue => 'LAST' is set. Do you know why? A regression in the argument parser?

[2016-04-01 22:23] banago commented on #221
@dl1ely, yes, my best guess is a regression in the argument parser.

[2016-04-01 22:34] banago commented on #221
@dl1ely filed an issue here: https://github.com/thephpleague/climate/issues/84 Please add your thoughts there if you think I've missed something.

[2016-04-01 22:36] dl1ely commented on #221
I tried looking into the parser to find out when and where defaultValue gets used, but i could not make sense out of it.

[2016-04-02 16:49] shekki25 commented on #221
Thanks @dl1ely and @banago!

[2016-04-03 14:51] MichalSeidler opened #224 "Posibility upload specific folder from repository"
Hello, i have more folders in my project e.g. folder A and B i need upload CONTENT of folder A (not folder but only content) into dir A on server and content of B into B on server (or another server).

Easiest solution can be add support of phploy.ini in subdirectories. When i try it now it writes me that is no git repo in subdirectory.

[2016-04-03 14:56] MichalSeidler commented on #223
Or fist upload to temporary directory and check that all files are on the place. After that test write permissions to original files and then switch and change .revision file.

[2016-04-03 14:57] banago commented on #224
@MichalSeidler grab lastest update to PHPloy and try this command:

    ; Directories that should be copied after deploy, from->to
    copy[] = 'public->www'

Is this what you are asking for?

[2016-04-04 08:38] dendeffe opened #225 "Unsupported git-diff status: f"
I’m getting

Oh Snap: Unsupported git-diff status: f
Trying to do phploy.phar -l

Using phploy 4.0

Most sites work properly, not this one though.
Haven’t been able to find out what git diff-status f is, so no idea where to start looking for that either.

[2016-04-04 09:30] banago commented on #225
As a temporary solution, reset your `.revision` file, either delete it or `phploy --sync="hash-here"`. I'll look into this.

[2016-04-04 10:39] banago commented on #225
Basically your `.revision` file is out of sync. I improved the error message so it's more clear.

[2016-04-04 10:39] #225 closed

[2016-04-04 10:39] #224 closed

[2016-04-04 21:04] banago commented on #221
@shekki25 this is now fixed. Thanks for reporting it. Enjoy!

[2016-04-04 21:04] #221 closed

[2016-04-05 01:21] ChrisWiegman opened #226 "4.1 and 4.1.1 has unmet dependancy"
The switch to dev-master for league/climate doesn't work as the branch doesn't exist. Here's what packagist says:

Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - banago/phploy 4.1.1 requires league/climate dev-master -> no matching package found.
    - banago/phploy 4.1.0 requires league/climate dev-master -> no matching package found.
    - Installat

[2016-04-05 09:47] banago commented on #226
@ChrisWiegman yeah, it's because I changed dependency of [CLImate](https://github.com/thephpleague/climate) to 'dev-master' to grab latest fix for an issue. Now seems we are stuck here until he tags the fix. I've notified the dev.

Do you think you can grab the `.phar` file in the meanwhile?

[2016-04-05 12:22] banago commented on #226
@ChrisWiegman dependencies are now updated and good to go. Thanks for reporting this.

[2016-04-05 12:22] #226 closed

[2016-04-05 20:20] dendeffe commented on #225
Ok thanks

[2016-04-06 09:57] Schnoop opened #228 "Deploy to a "versions" folder."
Our projects are big, and a deployment last up to 5 minutes. Depending on what has been changed the live server is broken until the deployment is finished.
I though about creating a "versions" folder, so  that a deployment can run in the background without harming the live code:

[code]

The `public` folder is our live webroot where the application is served from. We symlink the live-version to a

[2016-04-06 23:21] MichalSeidler opened #229 "Chmod settings"
Another great feature can be setting chmod setting for specific directors e.g. write permission for upload dir or cache.

[2016-04-06 23:25] MichalSeidler opened #230 "Listing and uploading files in purge[]"
Is possible to remove purged files from -l and don't upload them when is folder in purge[]?

I have project on localhost. When i test it i create some temp files and cache. I have this directories in purge[]. When i use phploy -l i see that files in purge will be uploaded, when i call phploy all files in purge are uploaded and then removed.

[2016-04-06 23:27] MichalSeidler opened #231 "Uploading of all files in include[]"
Is it possible upload only changed files in include[]? First compare with server version an then upload / list (in phploy -l)?

[2016-04-07 05:57] banago commented on #231
No, this is not possible because they are not tracked by Git and the comparison is made by Git.

[2016-04-07 05:57] #231 closed

[2016-04-07 05:58] banago commented on #230
Interesting scenario. I'll look into it.

[2016-04-07 05:59] banago commented on #229
Won't happen very soon. To stay focused, I'm closing the issue for now.

[2016-04-07 05:59] #229 closed

[2016-04-07 06:05] banago commented on #228
@Schnoop I see your point. It's a great feature in itself.

I created PHPloy as a simple deploy tool and I'd love to keep it as simple as possible. It has grown quite big already and this feature would take it out of the simple tools for sure. So, at least for now, I'd suggest you look into other different tools that offer that functionality, like [deployer](https://github.com/deployphp/deployer).

[2016-04-07 06:05] #228 closed

[2016-04-07 06:22] Schnoop commented on #228
There is one big difference between your tool and the mentioned Deployer. To use Deployer, you have to use a ssh connection, which in our case, is not allowed. Yes, we are able to connect as unpriveleged, but uploads are not possible. So we have to stick to the FTP protocoll.
I don't what your Script to create the symlink, just so have the possibilty, to create a Deploy target/folder depending on

[2016-04-07 07:20] MichalSeidler commented on #230
On more info: its in include and then in purge because i need include untracked directories and after that purge some files from them

[2016-04-08 03:40] collizo4sky commented on #218
You've done a great job. Will sure help spread the word about it awesomeness.

[2016-04-09 09:13] banago commented on #230
@MichalSeidler why don't you include just the inner directories in this case? Because this seems a counterintuitive usage of `include[]`. Please let me know if there is a solid reason after this.

[2016-04-10 10:53] shahidbasheer opened #232 "cleartext sessions and weak ciphers are not accepted"
Hi im getting this error connecting ftp. pls help

Warning: ftp_systype(): Sorry, cleartext sessions and weak ciphers are not accepted on this server. in phar://C:/Users/Dell/phploy/bin/phploy/vendor/league/flysystem/src/Adapter/Ftp.php on line 446

[2016-04-10 11:13] shahidbasheer commented on #232
Filezila connect with same credential over TLS connection.

[2016-04-12 10:45] baldurpan opened #233 "Submodules"
Not sure what's going on here, but there is some mixup.
Seems like it's trying to update my submodule with the files from the master repository.
Thus, my submodules never gets uploaded.

---------------------------------------------------
|                   PHPloy v4.1                   |
---------------------------------------------------
Scanning repository...
   Found 1 submodules.
   Found su

[2016-04-12 11:10] baldurpan commented on #233
And might I suggest that post hook is called AFTER handling submodules?

[2016-04-13 16:37] allysonsouza commented on #177
Hi @banago,

I make websites using WordPress, and I'm having problems with file permissions too.

How I see, you are also a WordPress user too, these problems of file permissions happens because of misconfiguration of my host? I'm using a shared host, and 755 for wp-content doesn't work, i fixed to 775 in CPanel and then everything works perfeclty.

[2016-04-14 05:36] banago commented on #232
@shahidbasheer please try to use `ftps` connection.

[2016-04-14 14:21] banago commented on #233
@baldurpan thanks for reporting this. I'm looking into it.

[2016-04-15 16:05] shahidbasheer commented on #232
Hi bango
Thanks for your reply i already tried ftps in php.ini setting but it give below error.

Oh Snap: Please provide a known connection protocol such as 'ftp' or 'sftp'.

[2016-04-15 20:40] vicebas opened #235 "Password with special character"
When the ftp password has a special character and is read by the console, it is impossible to connect due to the urlencode. If you remove the urlencode, works well.

[code]

[2016-04-15 20:41] vicebas opened #236 "Password with special character"
When the ftp password has a special character and is read by the console, it is impossible to connect due to the urlencode. If you remove the urlencode, works well.

[code]

[2016-04-15 20:48] #235 closed

[2016-04-17 06:28] banago commented on #236
@vicebas this is now fixed. Thanks for reporting it.

[2016-04-17 06:28] #236 closed

[2016-04-17 06:29] #218 closed

[2016-04-17 10:18] banago commented on #232
@shahidbasheer can you grab latest master version and try `https` again. It should now work. Let me know.

[2016-04-18 10:37] ogrosko opened #237 "Composer support"
What about add functionality for composer. When new revision of composer.json was uploaded run `composer update` automatically after upload.

What do you think?

[2016-04-18 12:13] banago commented on #237
We have composer support already. It's just not in docs. Can you try this: https://packagist.org/packages/banago/phploy

[2016-04-18 12:49] #237 closed

[2016-04-18 16:48] vicebas opened #238 "Reconnect if connect is dropped mid-deploymnet"
Actually, I think I need support. I'm uploading a web system, and after a little more than 1300 files, phploy begins to return warnings and then an exception. This only happens to the remote ftp, but the idea was to work exactly for this ftp. Error follows:

[code]

After this error, it stops completely. and when you restart, it did not save any changes to the .revision, and starts uploding all fi

[2016-04-18 16:54] banago commented on #238
Please update your message with more details. Did it show any errors or just hanged. What happened?

[2016-04-18 17:03] vicebas commented on #238
it shows this and stop on the Oh Snap. And stop workin

[code]

[2016-04-18 17:12] vicebas commented on #238
Is just that. after a great number of files, it give me that warnings and stop. But only if is the remote ftp. In the ftp in the local server, works greatly.

[2016-04-18 17:13] banago commented on #238
It seems a change directory issue. I need time to investigate that. Please look in your end too. Thanks.

[2016-04-18 17:23] vicebas commented on #238
Seems a closed connection issue. if i could reopen the connection, could solve the issue.

[code]

[2016-04-19 16:45] #232 closed

[2016-04-19 18:18] vicebas commented on #238
Update: Sftp works. The issue Is exclusively related to  ftp protocol

[2016-04-25 16:55] tonimain opened #239 "Connection problem"
Added all credentials
Sftp
IP = 12.34.56.78
Port = 23456
/path/to/key/my-key.SSH
Passphrase = dummy@web.Test

Without success always oh snap could not connect
Im on el capitan 10.11 osx

[2016-04-26 13:29] tonimain opened #240 "Portnumber longer than 2 digits"
We use 5 digit portnumbers like 22123
but phploy not acepting is

[2016-04-26 14:40] #240 closed

[2016-04-26 18:36] banago commented on #239
@tonimain please use `host` in stead of `ip`.

[2016-04-26 19:59] tonimain commented on #239
Lol sorry my fault IP is named host inside phploy.ini
Could it be something else?

My mey is added to config in SSH all Keys are stored in .SSH and the ones with passphrase are stored in keychain for privkey im srtting it to '~/.SSH/mykey'
Althout tested it with the keypass param without success

Are there some internal error Logs to check?

[2016-04-27 05:57] banago commented on #239
Are you following the config correctly? Here is how you use keys:

    privkey = 'path/to/or/contents/of/privatekey'

Check the config example at readme.

[2016-04-27 06:05] tonimain commented on #239
Yep it's exactly as in the sample ini
Scheme = sftp
Host = 13.34.56.78
Port = 22123
User = myuser
;pass = Pass don't need this dur to privkey
Privkey ='~/.SSH/my-key'
keypass = mypass
Path = /srv/vhosts/mydomain/public/staging

Is the order of those params relevant?

[2016-04-27 06:14] tonimain commented on #239
All params are written in lowercase

[2016-04-27 06:22] banago commented on #239
No, the order is not relevant. Can you try with full path in stead of the tilde `~/`.

[2016-04-27 06:24] tonimain commented on #239
Already tried with '/Users/t.Main/.SSH/mykey'
No success and no errors. Only message is oh snap could not connect :(

[2016-04-27 06:36] banago commented on #239
try `phploy --debug` and see what's going on.

[2016-04-27 06:36] #239 closed

[2016-04-27 07:18] tonimain commented on #239
thats whats happening
t.haupt@MBPr-Systeme-THA  ~/Projekte/frs-sbahn-washastduvor/public   develop ●  phploy -s staging --debug
---------------------------------------------------
|                   PHPloy v4.2                   |
---------------------------------------------------
Fetching .revision file

Oh Snap: Could not login with username: web, host: 93.92.135.252
 t.haupt@MBPr-Systeme-

[2016-04-27 07:21] tonimain commented on #239
that is the config:
[staging]
    scheme = sftp
    user = web
    host = 93.92.135.252
    path = /srv/vhosts/washastduvor/releases/staging
    port = 22123
    privkey = '/Users/t.haupt/.ssh/www_test_dummy_key'
    keypass = web@server.dummy
    branch = develop

[2016-04-27 16:36] tonimain commented on #239
Something new from your side ?

[2016-05-01 10:50] #233 closed

[2016-05-03 18:53] NathanGiesbrecht commented on #238
I'd had this problem once a while ago also. Was an FTP server setting timing out after n minutes of "inactivity", even though files were still uploading. One large file would cause the "inactivity", and the connection would be dropped. Not a PHPloy bug.

[2016-05-03 20:43] vicebas commented on #238
I had the same conclusion. But my suggestion is, if time out, reconnect, at least one time.

[2016-05-04 17:02] gajanak commented on #177
Would be nice to set not only fixed, but also use the permission of the orginal file.
(git tracks permissions).

Additionaly, it would be nice, to set date/time, too.
( MDTM,MFMT ... )
Perhaps take date of last change in repository

[2016-05-12 18:39] vytsci opened #245 "Builds"
If this software would have building implemented, I would actually pay for it :D

[2016-05-12 20:09] jjsquad opened #246 "Windows: Prohibited directory and file names"
HI!
When I phploy on my OSX system, all flys like a charm.
On my Windows system I receive this following errors:

Prohibited directory name in phar: 'vendor\somedirectory' error on line 321 in Ftp.php
and
Prohibited file name in phar: 'vendor\autoload.php' error on line 211 in Ftp.php

How I can resolve this?
I create a fork and in src/PHPloy.php I've changed '/' strings to DIRECTORY_SEPARATOR con

[2016-05-12 20:55] jjsquad commented on #246
Hi! Again! :D
I resolved this issue: reaplacing the all DIRECTORY_SEPARATOR on PHPloy.php file to '/'.

I'll put this in a future PR.

Thank you.

[2016-05-20 08:28] banago commented on #245
How would you like the build process to work? What's on your mind?

[2016-05-20 08:41] vytsci commented on #245
Problem is that atm if u are uploading files code can be messed up at some moments in time when someone enters website while deploying. For example you could map revision files and upload it to new release folder instead of their original location and then create symlink to a new release folder. It would be lightweight and perfect for more advanced projects but not such complex so they require ver

[2016-05-20 21:21] raunsbaekdk commented on #245
I actually second this, however a lightweight version could be, that it uploads the files as filename.extension.hashsum fx. After it has uploaded all the files it can rename the files to the original filename, which is significantly faster than; upload, rename, upload rename.

[2016-05-21 05:06] vytsci commented on #245
Well Im not the building master :D but i know that when u are uploading files, if someone enter a website it will crash at certain points. That needs to be solved.

[2016-05-22 09:10] EpocDotFr commented on #246
I have the same issue. It is blocking, sadly.

I suggest using the [`DIRECTORY_SEPARATOR`](http://php.net/manual/en/dir.constants.php) PHP constant directly.

[2016-05-22 09:19] EpocDotFr commented on #246
Same blocking issue here.

[2016-05-22 09:42] banago commented on #246
@jjsquad yes please, create a PR. Thanks.

[2016-05-22 14:27] EpocDotFr commented on #246
@jjsquad Are you using the native Windows shell? Or a wrapper like Cygwin?

[2016-05-22 15:11] EpocDotFr commented on #246
@jjsquad Yeah but don't replace **all** `DIRECTORY_SEPARATOR` by a `/`, only those concerning a remote path.

[2016-05-22 15:39] danielzzz opened #247 "problems with deploying submodules"
hi, I'm trying to deploy a cakephp project.

when I use phploy without a --submodules flag the vendor/cakephp folder is not uploaded (which I guess is the default behaviour).
but when I enable this flag, a strange thing happens:
phploy detects just one submodule:
 Found 1 submodules.
   Found submodule no.
      Scanning for sub-submodules...
      Found sub-submodule no/no.
      Found sub-submod

[2016-05-25 09:11] stevefolly opened #249 "PHP Notice 'undefined offset'"
With version 4.2, using --sync option gives the following output:

`PHP Notice:  Undefined offset: 1 in phar:///[...]/phploy.phar/vendor/league/climate/src/Argument/Parser.php on line 195`

Is this anything to worry about?

`php -i` output attached.

[phpinfo.txt](https://github.com/banago/PHPloy/files/281396/phpinfo.txt)

[2016-05-25 09:39] banago commented on #249
@stevefolly are you sure you are on PHPloy 4.2? We had this issue before but it's now fixed. Can you please try again to grab latest version.

[2016-05-25 13:23] stevefolly commented on #249
Hi, yes... full output is:

[code]

I download phploy.phar from your master branch on the 20th May.

[2016-05-25 13:27] stevefolly commented on #249
Downloaded the latest today - still the same issue.

[2016-05-27 14:18] banago commented on #247
@danielzzz please grab latest version and re-try. Should be fixed.

[2016-05-27 14:19] banago commented on #249
@stevefolly please grab latest version now. Should be fixed.

[2016-05-28 09:20] #249 closed

[2016-05-28 09:35] #247 closed

[2016-05-28 09:51] banago commented on #246
@jjsquad can you paste here a full error message you get?

[2016-05-28 09:55] banago commented on #245
@vytsci and @raunsbaekdk let's continue this discussion over at the previously opened ticket for this topic: #223. Thanks.

[2016-05-28 09:55] #245 closed

[2016-05-28 09:59] banago commented on #177
@strauss69400, @allysonsouza, @JayBizzle and @gajanak there has been an implementation of this by @fsalomon on this pull request: https://github.com/banago/PHPloy/pull/248. Everything is merged and ready to try out. Please grab latest version and report any issues. Thanks!

[2016-05-28 10:57] banago commented on #246
@jjsquad and @EpocDotFr please grab latest version and test again. This should now be fixed. Please reopen the ticket if you run again into it.

[2016-05-28 11:09] jjsquad commented on #246
I'll do it. Thanks!

[2016-05-28 11:38] vytsci commented on #223
Implement some very basic building system. Because uploading code directly brakes live website at some points. Its very cool while u are deploying to stage or any dev server, but for live u need to use smth that has builds "Phing" or "Capistrano" just because users can use website while website is being deployed.

[2016-05-28 11:40] vytsci commented on #223
I love this tool, because Capistrano and Phing is to complicated for small projects, u do not need complicated building or make automated DB migrations while working on small projects, but when uploading brakes ur code and can mess a database data its a bad thing.

[2016-05-28 14:48] EpocDotFr commented on #246
This issue is still happening for me, but not for all files.

 ! Failed to upload vendor\autoload.php.

 ! Failed to upload vendor\composer\autoload_files.php.

[2016-05-28 16:48] mbrugger commented on #69
I am currently looking into creating integration tests for PHPloy.
Using docker I run a local sftp server sharing a directory as upload target. After executing PHPloy with a local repository I can simply diff the repository and the shared volume.
At the moment I am still testing manually with shell scripts but I am looking into test frameworks right now. I personally like JUnit, maybe in combinati

[2016-05-28 20:19] jjsquad commented on #246
I see. But I think that problem its located at lines, 1276, 1278, 1281, 1286 in PHPloy.php file.

Changing DIRECTORY_SEPARATOR in this lines can solve this warnings.
Try it.

I cant test this now, but soon as I can, I`m back here and report.
Cya!

[2016-05-28 22:44] allysonsouza commented on #177
Thanks @banago! I'll try as soon as possible!

[2016-05-29 09:05] hellodaniel opened #251 "Default permission changed"
After updating to 4.3.1 I've noticed that the default permissions on files is set to 0600, which effectively means all of the files are unreadable to the general public (which is not good for websites).

No permissions have been set in the phploy.ini file.

See example file after upload here:
https://www.evernote.com/l/AAfo84Y0NRJMboyN0Q8rCRp-sqG7POR5KPs

[2016-05-29 09:46] banago commented on #251
@hellodaniel, right. It's a bug from permissions feature. Fixed. Grab latest version please and thanks for reporting.

[2016-05-29 09:46] #251 closed

[2016-05-29 09:58] banago commented on #246
@jjsquad you're so right. Just updated PHPloy. Grab latest version please.

[2016-05-29 09:58] #246 closed

[2016-05-29 10:03] banago commented on #223
@dl1ely and @Schnoop seems this feature has enough demand now to make it into PHPloy. Would any one of you guys like to implement a basic version of this?

[2016-05-29 10:04] banago commented on #229
@MichalSeidler you can now `chmod` with PHPloy. Please grab latest version and give `permissions` a try.

[2016-05-29 10:07] EpocDotFr commented on #246
Works like a charm now \o/

[2016-05-29 10:22] banago commented on #69
@mbrugger thanks very much for looking into this. It has been hanging around forever.

While I don't use Java at all my self, I cannot force you to use another set of technologies, since I just love to see some testing implementing for PHPloy. In this case, the right tools are the ones used. :smile: That said, if we could keep it all PHP and bash, that would be awesome.

Here is a short list comin

[2016-05-29 10:37] banago commented on #177
@fsalomon this feature introduced some issues. The files were either `private=0700` or `public=774`. This was not a desired outcome, so I had to deactivate visibility setting by default for now. If you can, please look into this again.

[2016-05-29 18:24] mbrugger commented on #69
Ok, I will see what I can do using PHP.

[PHPUnit](https://phpunit.de), [docker-php](https://github.com/docker-php/docker-php) for controlling the sftp server and [Git Streamwrapper for PHP](https://github.com/teqneers/PHP-Stream-Wrapper-for-Git) should do the job as well.

[2016-05-29 19:17] banago commented on #69
@mbrugger that is just perfect. :100:

[2016-05-29 22:06] jtsternberg commented on #238
Agree, reconnect would be ideal, but I'm also wondering why the .revision file isn't dropped in each directory that is completed as it is completed? This would allow a re-deploy to pick up where it left off instead of having to start completely over again.

[2016-05-29 22:31] jtsternberg commented on #238
FWIW, the error I got:

[code]

[2016-05-30 22:23] mbrugger commented on #69
I still don't like PHP ;-) but a first test is available verifying that the git repository is synchronised with the sftp directory. (branch test in my fork)

- 1. install [docker](https://docs.docker.com/engine/installation/)
- 2. start the test server
[code]
- 3. run the tests
[code]
- 4. stop the sftp server
[code]

Will cleanup the code tomorrow

[2016-05-31 09:04] banago commented on #69
@mbrugger PHP is not very pretty, thanks for your effort here. It's great you have it ready. Cannot wait to check it out. Keep it up.

[2016-05-31 09:29] stevefolly commented on #249
Downloaded and confirmed - notice no longer displayed. Thank you.

[2016-05-31 09:29] banago commented on #249
@stevefolly thank you for confirming. :+1:

[2016-05-31 09:32] banago commented on #69
@mbrugger I can see you are on an earlier version of PHPloy. Could you please pull from master?

[2016-06-01 17:56] mbrugger commented on #69
I pulled the latest changes and also I activated [travis](https://travis-ci.org/mbrugger/PHPloy) for automated test execution
![Travis CI Status](https://travis-ci.org/mbrugger/PHPloy.svg?branch=tests)

Now it is time to give the tests a better structure and increase the number of tests.

[2016-06-02 05:41] mchaelhuang opened #252 "Private key wont be read if the path is relative"
The private key wont be read if the path is relative, like `~/key/mykey.pem`

And hopefully we can store `privkey` parameter into `.phploy` file.
Thanks

[2016-06-02 07:23] irman opened #253 "Deploy locally on the same environment?"
Is it possible to use PHPloy to "deploy" the file locally, just another directory. I don't want to copy and paste, need it to still keep track of the files/deployment/rollbacks. Imagine you're connecting via ftp/sftp to yourself. I found out that you can basically just ssh to yourself. Is there any other "elegant" way to this?

[2016-06-02 10:09] Schnoop commented on #223
There a several ways to implement this feature.
- versions folder
- Upload as filename.php.tmp and then rename to filename.php
- ....

Also: What deploy is it worth to create a new version for? Not for every minor change there has to be full deploy.

Every new version has to be a full deploy as there is no code base to create a diff for.

Let's assume that we have a new version on daily base, and

[2016-06-02 10:24] raunsbaekdk commented on #223
@Schnoop My suggestion is second option.
Second option will be fast and easy to manage, furthermore it can be the standard way to upload new revisions. It is significant faster to upload the files as filename.extension.hashsum and first after all files has been uploaded it will initiate a move (rename) on all files.
First option will not be fast because by design, it will need to upload all files

[2016-06-02 15:51] Progi1984 opened #254 "Deploy in a different directory"
Hi, thanks for your tool.

I have a repository where I have a directory "site".
I have a server with two directories (staging & production).

I want to deploy my directory "site" (& only it) to the directory staging.

How can I do that ?

Thanks for your answer.

[2016-06-02 15:58] Progi1984 commented on #254
For excluding, I found the solution : `exclude[]` is my friend.

But I don't find any solution for mapping directories.

[2016-06-03 14:09] Progi1984 commented on #254
I have found a solution :
* At the root of my project, I exclude all parts to be excluded
* I copy the directory site to staging
* I purge the directory site

[code]

Heavy solution, isn't it !

[2016-06-04 09:30] banago commented on #254
@Progi1984 thanks for catching this bug and for the contribution. :+1:

[2016-06-04 09:30] #254 closed

[2016-06-04 09:31] banago commented on #253
@irman the 'local' driver would be easy to add. Why would you need such a thing? Trying to understand so I can evaluate if it's worth adding into core.

[2016-06-04 09:34] #230 closed

[2016-06-04 10:41] banago commented on #223
Great input guys, thanks very much. I also lean toward the renaming solution. It's much easier to implement and is lightweight. I suggest however that we don't make it default behaviour, since most deployment happens in staging environments, but turn it on in two ways:

1. On command line by: `phploy --atomic`
2. On configuration file by: `atomic = on`

So you can use it when you need it in termin

[2016-06-04 11:27] Schnoop commented on #223
It's okay. Let's give it a try.

[2016-06-04 13:02] fsalomon commented on #177
Yes, but (S)FtpAdapter doesn't have it. Anyways, I just made the visibility unset by default, so people can still rely on grandfathered behavior. See https://github.com/banago/PHPloy/pull/256 One can now set one of
+ visibility = public
+ visibility = private
+ permissions = 0xxx

or one can use the low level permPrivate, permPublic. Even though I'm not sure of the use case.

[2016-06-04 16:29] raunsbaekdk commented on #223
Sounds like a great middle way @banago.

[2016-06-07 05:35] tubiz opened #257 "Create and deploy into a new folder"
I use PHPloy to deploy WordPress themes and plugins.

Before I deploy I need to login via SSH and manually create the plugin/theme directory and set the path to the newly created directory

If this isn't done the error below is show
`Oh Snap: Root is invalid or does not exist: /public/wp-content/plugins/plugin-name/`

I think it will be nice for PHPloy to create the plugin-name folder if it doesn'

[2016-06-07 15:26] banago commented on #257
@tubiz you have no idea for how long I've wanted to write this feature, perhaps since I put together PHPloy for the first time. And I've thought of this so many times. I have everything laid out in my head. It will work like this:

    phploy --force

It will create the directory if it does not exist. Thanks for creating the ticket.

[2016-06-07 16:14] tubiz commented on #257
@banago thanks for considering this feature request.

Can't wait to have it added to PHPloy.

[2016-06-11 18:44] mbrugger commented on #69
@banago before i continue writing additional tests/improve the test system.
Is the way the test system is currently set up something you would like to add to the project?

I just read #257 and think this is something that could easily be covered by a test case.

[2016-06-11 19:33] tylerdigital commented on #223
The proposed atomic option looks great!

I assume that if the rename/upload fails then it would also delete all those tmp files? Otherwise, there would be lots of orphaned .tmp files scattered across the remote server

[2016-06-11 20:21] vukanac commented on #158
Works OK! Thank you!

[2016-06-14 09:24] ogrosko commented on #253
@irman Try using symlinks

[2016-06-16 21:00] hotrush opened #259 "Deploy with tarball"
Maybe will be good to have an option to deploy with tarball. Make an archive of changed files, upload to any temp place, extract and replace files. Because uploading long lists can be problematic for any ftp servers.

[code]

[2016-06-19 22:16] mbrugger commented on #69
Refactored the tests a little, a shared base class to inherit from is no longer needed (which is a nightmare as soon as test sets grow), created parametrised tests to verify sftp and ftp sync with a single test case

[2016-06-20 05:23] ankitce commented on #259
I am also looking for the same feature. This will make the fresh deployment a breeze.

[2016-06-20 09:53] h-collector opened #260 "Unknown git-diff status R072 / R052"
Can't deploy if file was moved.

`Fetching .revision file
Remote revision: e80eebc0ee3581c0bbb79843f9dd872219405ddb
Already on 'master'
R072	themes/default/css/_light/custom_light.css	themes/default/css/custom.css

Oh Snap: Unknown git-diff status. Use '--sync' to update remote revision or use '--debug' to see what's wrong.`

R052 -> file was also modified

PHPloy v4.3.5
git version 2.9.0

[2016-06-21 14:10] strauss69400 opened #261 "Oh Snap: Could not login with username when i use a private key"
hi,
i download the lastest version in order to use a private key with the prompt passphrase.

so i create my keys with this command : ssh-keygen -t rsa.
my public key is saved in the authorized_keys file of the user and my private key is let in folder '/root/.ssh/id_rsa/.
when i run the upload, i get this error :

Oh Snap: Could not login with username 'myuser', host: **.**.**.**

i tested my keys

[2016-06-23 14:39] MarketHubb opened #262 "Deploy using FTPS with TLS Encryption?"
I'm trying to use FTPS as my deployment _scheme_ and when I run `phploy` I am getting the following error:

`Warning: ftp_systype(): Non-anonymous sessions must use encryption. `

Is it possible to run using FTPS and if so, do I need to include a specific configuration option in my .ini file?

[2016-07-12 14:40] andrew-campher opened #264 "Looking for deploy.ini"
When I run phploy its looking for a deploy.ini but the file is called "phploy.ini"

|              PHPloy v3.0.16-stable              |
---------------------------------------------------

Oh Snap: 'D:\xamp\htdocs\xxxx\deploy.ini' does not exist.

[2016-07-12 15:10] banago commented on #264
You're using an old version. Why don't you grab latest version? The 3.x
version used `deploy.ini` file name.

[2016-07-12 15:27] andrew-campher commented on #264
Thanks - yes appears I used the wrong remote.

[2016-07-12 18:14] Eduruiz commented on #260
almost same here:
[code]

PHPloy v4.3.5
git version 2.9.0

[2016-07-15 09:38] Rafeethu commented on #177
I'm also facing the permission issue using sftp. For new file the permission is set to 664 where as i want that to be 755.

i have set the following in my phploy.ini file
visibility = public
permissions = 0755
permPublic = 0755

any update on this. my phploy version is 4.3.5.

[2016-07-19 10:26] #260 closed

[2016-07-19 10:28] #264 closed

[2016-07-19 10:33] banago commented on #259
@hotrush and @ankitce ths is a great proposal. if you would like to implement this feature, I'd be more then happy to merge. Thanks.

[2016-07-20 13:18] mikaelz commented on #261
Had the same issue and my hosting provider required RFC4716 private keys in authorized_keys.
Try `sftp myuser@host` maybe your sftp subsystem is not enabled
Maybe http://stackoverflow.com/questions/6377009/adding-public-key-to-ssh-authorized-keys-does-not-log-me-in-automatically helps

[2016-07-20 14:36] strauss69400 commented on #261
unfortunately, it works when there is no passphrase only!!

[2016-07-20 14:37] #261 closed

[2016-07-21 07:19] mikaelz opened #267 "Replace ~ with home dir path in phploy.ini"
While working on OSX and Linux it would be handy to be able to specifiy `privkey` with ~

[2016-07-24 06:16] mikaelz opened #269 ".phploy requires password not pass"
I think `password` in _.phploy_ should be `pass` as in _phploy.ini_

[2016-07-24 12:18] #269 closed

[2016-07-24 12:41] #267 closed

[2016-07-24 12:59] banago commented on #252
@mchaelhuang grab latest version please. This is now addressed. There is no reason to put `privkey` in `.phploy` because it is not sensitive information.

[2016-07-25 12:14] banago commented on #262
Yes, use `ssl = true` please.

[2016-07-25 12:14] #262 closed

[2016-07-25 12:15] #253 closed

[2016-07-26 20:03] mbrugger opened #272 "Minimum php version"
When running my tests with 5.4 as specified in composer.json the tests fail
https://travis-ci.org/mbrugger/PHPloy/builds/147570887

When I run the tests with 5.5 the tests work again. Maybe we should update the minimum version requirement.

[2016-07-27 07:05] banago commented on #272
Yep. Let's bump it up.

[2016-07-27 11:02] lalop commented on #195
Hello,
is there any news ?

[2016-07-27 13:25] banago commented on #195
Yes, look into the `copy` setting.

[2016-07-27 13:30] lalop commented on #195
you mean if I want to push my `public/`  folder into the remote `www/` I have to push `./` to `./` then copy `public` into `www` ?

[2016-07-27 13:30] lalop commented on #195
or this will just take the content of public and put it inot www ?

[2016-07-27 14:01] banago commented on #195
This is all we can have at this moment:

    ; Directories that should be copied after deploy, from->to
    copy[] = 'public->www'

[2016-07-27 14:20] lalop commented on #195
ok thank you

[2016-07-28 07:12] chlab commented on #195
Cool that this happend. I was working on it but then changed employers and no longer had need for it and kind of forget about it :) sorry.

[2016-07-28 09:36] banago commented on #195
@chlab all good. Are you using PHPloy at new job?

[2016-07-28 10:05] chlab commented on #195
Nope, doing Django now and using Fortrabbit for personal PHP projects.

[2016-07-30 09:41] mchaelhuang commented on #252
@banago yes it is not a sensitive information, agreed with that.

But i think it is just like a personalisation, some people may store their key on `~/.ssh/mykey.pem`, others (like me) may put it on `~/key/mykey.pem`, and maybe some people just put it on its working directory `./mykey.pem`.

What do you think?

[2016-08-01 10:30] #272 closed

[2016-08-01 10:59] banago commented on #69
@mbrugger thank you very much for implementing testing. This is the best thing to happen to PHPloy for a long time.

I added the initial testing docs to `contributing.md`. Do you think you can elaborate on them a little bit more, is everyone can get started easily. Thanks so much.

[2016-08-01 16:30] mbrugger commented on #69
I will be on vacation the next 2 weeks but I will be happy to add test instructions on my return

[2016-08-01 16:36] banago commented on #69
@mbrugger have a great vacation. This can wait. :+1:

[2016-08-01 19:17] EdwinHoksberg commented on #259
I'm willing to implement this feature, but how would unpacking an uploaded archive work on a remote server with just FTP access?

@hotrush @ankitce

[2016-08-01 19:31] banago commented on #259
@EdwinHoksberg thanks for that. Personally I don't know how that's going to work.

[2016-08-01 20:17] hotrush commented on #259
@EdwinHoksberg Yes, only sftp can access shell. But some hacks possible, for example any uploaded temporary script available on any public url that will run shell script.

[2016-08-01 20:40] EdwinHoksberg commented on #259
Yea I guess that would be the only way. What about just creating an archive and upload it and let the user handle the unpacking? That would stop us from creating any 'hackish' features.

What do you think about that @banago?

[2016-08-02 05:54] ankitce commented on #259
Here is my proposal for development:
1) At the point where the files are being uploaded, intead of uploading the files add them to an archive in local tmp folder.
2) File delete statements should not be altered, the files (which are deleted in repo) should still be deleted one by one on server.
3) Upload the archive on server.
4) After successful upload of archive, upload a PHP utility file which

[2016-08-02 11:12] EdwinHoksberg commented on #259
That seems like a good process.
The only thing that might not work is calling the unzip script from a url, because you can't make sure that you are uploading files to a document root that the webserver is serving, or that there is a webserver running at all.
Ofcourse this only counts with FTP(S), we can use SFTP to easily extract files.

[2016-08-02 11:17] hotrush commented on #259
@EdwinHoksberg i think path to script and public uri must be configurable. webserver must allow execute files with our pre-configured name (not index.php).

[2016-08-02 12:11] banago commented on #259
It feels very hackish for FTP to make this work. Let's implement this only for SFTP and degrade to normal upload for FTP, even if this options is selected.

[2016-08-05 19:59] raulneis opened #275 "Uninitialized string offset error if sftp is used without privkey"
When sftp schema is used, if no privkey is specified it throws a PHP Notice:

[code]

[2016-08-22 02:50] jjeaton opened #277 "Allow path to be set by environment variable"
Similar to user, password, host and port, allow the path to be set with an environment variable to keep that information out of the phploy.ini file.

[2016-08-22 10:46] banago commented on #277
@jjeaton fix it and make a pull request. :)

[2016-08-22 13:19] jjeaton commented on #277
😄  sure, just wanted to add in the issue before I fell asleep and forgot all about it.

It would be really nice to be able to use any environment variable for any value in the `.ini` file. Similar to how Dandelion allows you to use erb in the yaml file: https://github.com/scttnlsn/dandelion.

`password: <%= ENV['DANDELION_PASSWORD'] %>`

Not sure how that would be possible, but would make the conf

[2016-08-22 13:26] banago commented on #277
@jjeaton not possible with the current `.ini` setup.

[2016-08-23 14:58] melshakarji opened #278 "Oh Snap: Unsupported protocol 'ftp'"
How do i fix this error? i cant seem to find anyone with a similar issue.

Oh Snap: Unsupported protocol 'ftp'
version 3.5.6

[2016-08-28 02:30] jjeaton opened #279 "pre-deploy-remote should run from path"
It appears that the commands that are run during `pre-deploy-remote` get run from my SSH user's home directory, not the path that's defined in phploy.ini. Is there a reason for this? I assumed that any commands I wrote should be based off the deployment path.

[2016-08-31 12:22] lisurc commented on #214
Could it  be possible to move this "doc issue" to the Wiki? Even it's mentioned in the readme file, browsing to "Closed Issues" to find it feels quite misleading :)

[2016-08-31 20:07] Lewiatan commented on #275
same here

[2016-09-09 08:14] noikiy opened #282 "i want to set local path"
i have a project but the web root is not the git root.

[2016-09-09 13:37] Eduruiz commented on #260
still getting this when renaming some files.

[code]

[2016-09-14 21:37] plashenkov commented on #282
On git-ftp there is a --syncroot option to specify local root to be deployed.
Here we need such option too.

[2016-09-15 00:05] jjeaton commented on #177
Just ran into this. Any new folders I create end up with 750 permissions, and the site breaks.

Seems to be exactly what was happening here: https://github.com/banago/PHPloy/pull/248#issuecomment-221707305

For me, deploying via SFTP is only necessary for shared/managed hosting environments where SSH isn't available, so server misconfiguration isn't necessarily something that can be controlled. An

[2016-09-16 02:58] jjeaton commented on #275
This was fixed in #281

[2016-09-16 03:10] jjeaton commented on #177
I was able to fix my issue in #283 by adding support for `directoryPerm` in the flysystem SFTP adapter. https://github.com/thephpleague/flysystem-sftp/blob/master/src/SftpAdapter.php#L54

[2016-09-16 09:24] #275 closed

[2016-09-19 17:12] rajnisheu opened #284 "can't skip[] take settings from git ignore exclude?"
Wondering why can't skip files be taken from gitignore or .git/info/exclude. Its a pain setting it up again.
Actually, if its in gitignore, its probably not in the commit but still gets pushed. Am I doing something wrong?
Thanks for a great tool!

[2016-09-19 17:47] rajnisheu commented on #284
Basically also struggling a bit with the syntax for skip[] as these directive don't seem to be working

`    skip[] = '/image/cache/*'`
`    skip[] = '/image/cache/*.*'`

tried without the 1st slash too, like so

`    skip[] = 'image/cache/*.*'`

or this
`    skip[] = 'Thumbs.db'`

dev on windows, there are probably several Thumbs.db files which are hard to trace. I am thinking the above directive

[2016-09-20 19:19] rajnisheu commented on #284
Got mislead by the included ini sample file. Would be good if its replaced.
Issue looked to be that `skip[]` has been replaced with `exclude[]`.
Using exclude looks to be working. Discovered it when I went back to the readme again.

[2016-09-21 10:16] Pimmetje opened #285 "Run composer before sync (CI)"
I am not sure if it is possible so i hope someone can tell me :)

I would like to use this is in a Gitlab-CI env where i want to run PHPloy to update our staging and production env based on the branch. I think thats doable. But now the question:
Is it possible to run composer install before syncing and have the files from the vender folder synced to the ftp server?
I have to look if it is possible

[2016-09-27 07:32] Pimmetje opened #286 "custom environment variable for username & password"
In the Gitlab-CI envirment is possible to set build variables. I can now do :
    - export PHPLOY_PORT="21"
    - export PHPLOY_HOST="$LIVE_HOST"
    - export PHPLOY_USER="$LIVE_USERNAME"
    - export PHPLOY_PASS="$LIVE_PASSWORD"
The same would be for example stage.

But it would be nice if this could be set in the ini file. This way the build script stays clean.
So we could set host to $LIVE_HOST

[2016-09-29 03:47] mikaelz commented on #286
There is some env checking https://github.com/banago/PHPloy/blob/master/src/PHPloy.php#L437

Maybe better would be checking for env variables constructed from ini names
From
[code]
phploy would check for
[code]

There is already an array of possible settings https://github.com/banago/PHPloy/blob/master/src/PHPloy.php#L351 so it might check the with foreach and prefixed with server name from the in

[2016-09-30 14:32] #277 closed

[2016-09-30 14:38] banago commented on #284
@rajnisheu yes,  `skip[]` has been replaced with `exclude[]`. I'm sorry you had to go through this and could not back to you earlier.

[2016-09-30 14:41] banago commented on #284
Updated include `phploy.ini` file. Thanks again.

[2016-09-30 14:41] #284 closed

[2016-09-30 16:22] banago commented on #279
@jjeaton no, that seems like something that needs to be fixed. Do you think you can work on it?

[2016-09-30 16:23] banago commented on #278
@melshakarji that should not happen, but, nonetheless, you need to upgrade. Please grab latest version. Thanks.

[2016-09-30 16:23] #278 closed

[2016-09-30 16:24] banago commented on #286
@mikaelz if you improve this, I'd be more than happy to merge it. Let me know.

[2016-09-30 16:25] banago commented on #238
@jjeaton reconnect would should not break the loop, otherwise it would start over.

[2016-09-30 18:40] jjeaton commented on #279
@banago I could, however I wasn't able to find where the path gets set, any way you could point me in the right direction?

[2016-10-01 00:44] hellodaniel opened #288 "Delete is very slow via FTP"
Since version 3 (?) the process of deleting files is VERY slow; slower, in fact, than uploading files. The process seems to take 2-10 seconds per file, which will often time out mid-way if there is a large number of deletes. This wasn't an issue in older versions, which used to blitz through the deletes.

Wondering if this is something that others have noticed - would fantastic to speed it up agai

[2016-10-01 21:36] banago commented on #282
@noikiy do you have to deploy to web root, now way around it? Check the copy options for a solution here: `copy[] = 'public->www'`

[2016-10-01 21:36] #282 closed

[2016-10-03 14:13] rajnisheu opened #289 "diff command issue And ini issue"
Issue 1:
For various reasons. I need to run git portable and in windows 10. At the start, phploy seemed to work fine but suddenly started giving git-diff error. At first I thought there needs to be an exe available called **git-diff**.

Getting deeper into phploy code, I realised it was running a command by itself `diff -blah -blah`. It looks the program expects diff to be a command by itself wher

[2016-10-03 14:20] rajnisheu commented on #225
@banago this does not look to be a revisions issue rather the command being used. Btw, `phploy --sync` does not work and returns tons of errors about ftp and so on.

I was trying to solve the exact issue and it looks the command does not take into account the ini server setting. `phploy --sync="hash-here"` does not expect a server to be defined? I tried providing it in various ways and none worked

[2016-10-03 15:57] banago commented on #225
@rajnisheu what's your php version?

[2016-10-03 16:27] rajnisheu commented on #225
5.5.24 xampp

[2016-10-06 11:19] pies opened #290 "Composer.json points to "bin/phploy" instead of "bin/phploy.phar""
The file `bin/phploy` does not exist, so Composer fails to link to it from `/vendor/bin`.

[2016-10-11 08:35] nikolaykovenko commented on #286
Hello, @banago. If @mikaelz doesn't have enough time for this, I can implement this feature. Just let me know guys and I'll start working.

[2016-10-11 08:48] mikaelz commented on #286
Hello, sure, if you have time, get into it. Thanks

[2016-10-11 08:58] banago commented on #286
@nikolaykovenko yes pleae, go ahead. :+1:

[2016-10-12 14:09] stevefolly opened #292 "Specify folder for source root?"
Hi,

Is there any way to specify a folder in the source repository as the root for uploading?

Example:
- repo\
  - phploy.phar
  - phploy.ini
  - README.md
  - html\
    - index.html
    - page2.html

I want to copy everything in html to the destination, and ignore everything outside of html\  Is this possible?

Thanks

[2016-10-13 03:42] mikaelz commented on #292
I would try the following in phploy.ini :)
[code]
or
[code]

[2016-10-13 08:18] stevefolly commented on #292
Thanks for the suggestions @mikaelz , unfortunately they don't work as I would expect.  I don't think I was clear enough in my original question:  the FTP destination is (for example) `/var/www/httpdocs` this is where `index.html` would reside. I want the content of `html/` to appear in `httpdocs/`.

What I've tried, and your suggestions, end up still with an unwanted `html/` folder. The copy (`ht

[2016-10-13 08:27] mikaelz commented on #292
You could create some custom command
In one of my projects I have the following:
[code]
This is `scp` from local to remote. You might replace it with rsync (but it's unsecure)

[2016-10-13 17:11] banago commented on #290
It is like this because the plan is to move the `.phar` out of the repo and `phploy` there be a simple php file that fires PHPloy.

[2016-10-13 21:30] paulmartin84 commented on #292
I don't think we should have to work around this, This should be built in as an option, Its very common to have a docroot or webroot in a git repo with other directories outside this that you would never want to ftp to the webserver, would be nice to just have a source option. The exclude option doesn't solve this as you end up with the docroot folder on the server instead of its contents.

[2016-10-13 21:41] paulmartin84 commented on #292
@stevefolly actually looking at the 3.x branch the instructions show:
; You can specify a list of patterns of files to be uploaded.
; Only files that match at least one of the patterns will be uploaded to the server.
; If a list of include patterns is not present, all files are considered
; by default (as if include[] = '*' was specified).
include[] = 'public_html/*'

Going to try this out, but th

[2016-10-18 06:28] nikolaykovenko commented on #286
I started working and I have a question:

Why do we use different constructions inside of foreach ($servers as $name => $options) $servers[$name] and $options?

https://github.com/banago/PHPloy/blob/master/src/PHPloy.php#L408
$servers[$name]

https://github.com/banago/PHPloy/blob/master/src/PHPloy.php#L442
$options['port']

Is there a reason I don't understand?

[2016-10-21 19:39] paulmartin84 commented on #292
Looking at https://github.com/git-ftp/git-ftp it has options:
[code]

[2016-10-27 15:29] ogrosko commented on #279
Check my pull request #295
If it's ok and it does what you expecting

[2016-10-27 18:29] Eduruiz commented on #292
I would love this option too, in one of my projects I and up setting up a rsync deploy with gulp to bypass this.
I have the fallowing:

- project
 -.git
 - app
 - dist

and I want to deploy only the `dist/` folder contents (but not the folder) into a `www` folder on the server.

[2016-11-02 16:59] anvart commented on #292
@mikaelz
[code]
Is not behaving as expected. Instead I used the following:
[code]
But of course it still requires to have this extra subdirectory on the server, so +1 for the option.

[2016-11-03 21:44] hellodaniel commented on #290
...having the bin file is nice. If it's not much trouble to continue to compile it then fixing the composer issue would be nice.

[2016-11-04 14:29] Turbo123 opened #296 "Use of undefined constant FTP_BINARY"
I´m getting this strange error when I run PHPloy for a project.
Any clue why? I have set up phploy.ini for my project.

Notice: Use of undefined constant FTP_BINARY - assumed 'FTP_BINARY' in phar://E:/wamp64/www/PHPloy-master/bin/phploy.phar/src/Connection.php on line 87

[2016-11-16 10:40] bart-webleads commented on #292
I also need this option!

My project document root is never the same as the hosted/remote document root.
My local document root is 'htdocs' and my hosted/remote document root is 'www'

[2016-11-16 10:46] bart-webleads opened #297 "revision does not get uploaded"
phploy keeps uploading all files.

I noticed that the ".revision" file does not get uploaded. The reason is that my hosting company does not allow me to write files in the "root". I can only write files in the "www" folder.

- Phploy should write a warning if this file can not be uploaded.
- Could the location of the revision file be made configurable?

[2016-11-18 08:46] stoutZero opened #298 "does this work?"
does this work?

PHPloy version: `PHPloy v4.5`

it keeps giving me this error:
[code]

this is my `phploy.ini`:
[code]

the sftp login is the same ssh login I always use to login to the server :|

can anyone help me here?

[2016-11-18 10:43] mikaelz commented on #298
`logger=on` has to go under server `[production]`
ini is parsed first by server then params for that server
https://github.com/banago/PHPloy/blob/master/src/PHPloy.php#L381
Issue metion in your error log is at https://github.com/banago/PHPloy/blob/master/src/PHPloy.php#L388

[2016-11-18 10:47] stoutZero commented on #298
haaaaaaaaaaaaaahhhhhhhhhhhhhh... someone should mention that somewhere...
such a stupid simple mistake...

[2016-11-18 10:47] #298 closed

[2016-11-29 09:38] folkevil commented on #296
i got same issue

[2016-11-29 15:56] glockenmeier commented on #296
I think it's coming from a library PHPloy uses (Ftp Adapter).
Traced it to [this line](https://github.com/banago/PHPloy/blob/c521f9f2dad82a065c4a2b6f2a03a1f91f98512c/src/Connection.php#L5) `use League\Flysystem\Adapter\Ftp as FtpAdapter;`
[and this one](https://github.com/thephpleague/flysystem/blob/0165294685dc83e521a46e0df2ff6b8bd4df4369/src/Adapter/Ftp.php#L20) `protected $transferMode = FTP_BI

[2016-12-07 03:07] stoutZero opened #301 "upload non indexed files when indexed files changed"
CMIIW

I have a single folder that is generated by `laravel-elixir` via `gulp`, the resulting build files will _never_ be indexed,
but the source files that will never be uploaded to any non git hosting server _are_ indexed.

Right now this line on `phploy.ini`:
[code]

means anything on that folder is always uploaded, regardless of whether there are any file that has been changed

Are there anywa

[2016-12-07 11:42] banago commented on #301
That's a good point. Unfortunately that kind of mapping does not exist at this point. Sorry.

[2016-12-07 11:42] #301 closed

[2016-12-07 11:45] banago commented on #297
Good point. Just curious, why are you deploying to your root directory? Do you deploy other files to that directory and do they upload alright?

[2016-12-07 12:23] bart-webleads commented on #297
I always create projects that contain a 'htdocs' directory. This is the website root. With PHPloy I cannot "map" my project htdocs folder to the live FTP 'www' folder. So that is why I cannot use PHPloy.
When I was trying different things, I came across the "revision does not get uploaded" problem.

[2016-12-07 12:45] banago commented on #297
@bart-webleads I understand. Any particular reason why you use `htdocs` locally and `www` on the server?

[2016-12-07 12:49] banago commented on #286
@nikolaykovenko that's needed for multiple server support.

I'm closing this issue to keep things a bit clean. When you have the update ready, just create a pull request. Thanks

[2016-12-07 12:49] #286 closed

[2016-12-07 12:53] banago commented on #288
@hellodaniel are the deletes still taking very long for you?

[2016-12-07 12:54] #252 closed

[2016-12-07 13:00] bart-webleads commented on #297
I have used htdocs in the past and I just kept on doing that.
And each hosting provider uses a different folder for it, like httpdocs, web, www, ...
So changing it to match my hosting provider is useless.

[2016-12-07 13:46] banago commented on #297
Thanks for the details. Directory mapping might happen since it's being requested a lot. Let's move the conversation here: #292.

[2016-12-07 13:46] #297 closed

[2016-12-08 02:13] hellodaniel commented on #288
Running 4.5 at the moment - I reckon they're quicker. Just did some timing and it's about 3 seconds for each file over a fast connection. Version 2 used to be super fast.

I can deal with it but basically if I have more than a hundred files to move/delete it's much faster to do a full deployment (of about 5,000 file repo).

Surprised no one else has noted this - might be more people are using SFTP

[2016-12-13 09:24] flowdee commented on #292
My repository always includes a web/ folder representing the root on the webserver. So it would be very cool to set the repo web/ folder as source root 👍

[2016-12-13 10:28] hellodaniel commented on #288
...yeah 45 seconds per file at the moment! Strange thing is I know it's not a latency issue because the uploads are pretty quick (less than a second each)...

[2016-12-21 09:18] pedroadame commented on #301
+1 I came here searching exactly that. Uploading vendor dir is expensive in every deploy.

[2016-12-22 15:03] krzysztofp opened #302 "Add multithreading"
At the moment I'm uploading my project to the production server. It's overall 6000 files and this is my first deploy. Is there any way this process can be done multithreaded?

[2016-12-23 12:39] marcus-at-localhorst commented on #302
I believe you can do the initial upload with a FTP program of your choice and then use the `phploy --sync='hash'` command to create the revision file on the server.
See https://github.com/banago/PHPloy/issues/14

[2016-12-23 12:45] krzysztofp commented on #302
@marcus-at-localhorst - wow, that's good to know - many thanks. To be honest - I already had all files on the server and right now thought it would be cool to start using git (and FTP unfortunately) for improved  - maybe some kind of simple detection tool would be a good idea (for example: "Hey, it looks like the files you're trying to upload, already exist on the server - are you sure you want to

[2016-12-24 15:50] glockenmeier commented on #302
@krzysztofp had a similar issue needing to re-upload a project with lots of files. Using FTP to upload the files is too slow and error prone. Although FileZilla kept tabs on failed uploads it doesn't always work outright. So instead I uploaded a ZIP file and created a simple PHP unzip script.

Would be a nice to have if PHPloy could do similar zipping say, for initial upload, generate unzip script

[2017-01-12 21:59] Ziggizag commented on #192
It should read:

`throw new \Exception("Could not change directory to '{$parsedUrl['path']}'. Please make sure the directory exists.");   `

rather than:

`throw new \Exception("Could not change directory to '{$data['path']}'. Please make sure the directory exists."); `

[2017-01-14 00:45] hellodaniel opened #303 "Filenames with spaces fail to delete via FTP"
Receiving errors in the console when trying to move/remove files with spaces.

e.g.:  ```! File not found - please check path: /project/html/Overview.md```  when the path is actually something like ```/docs/01 Guides/Overview```

Arguably spaces are not a good idea (and I've since renamed all files to have underscores) but they are perfectly valid and should probably work.

Interestingly, creating

[2017-01-23 22:06] plashenkov commented on #282
Hi @banago

I've just tried the `copy[]` param and it looks like this is not a solution for this case.
Often it is necessary to deploy just one subfolder of the repository. There can be many other extra files and folders in the repository and they simply should not be deployed. There can be graphic files, non-complied sources, etc. They can be large, they can be small but countless. They can be ad

[2017-01-24 16:50] plashenkov opened #304 "Add an option to deploy a subdirectory only"
Hello!

I am not sure you will get notifications from the [closed issue](https://github.com/banago/PHPloy/issues/282), this is why I created the new one.

I've tried the `copy[]` param and it looks like this is not a solution for this case.
Often it is necessary to deploy just one subfolder. There can be many other extra files and folders in the repository and they simply should not be deployed. T

[2017-01-24 21:35] plashenkov opened #305 "Phar without require-dev"
I've found that the latest bin/phploy.phar in the master branch is extra-small (368 KB). It came with the commit from @ogrosko.

It looks like it was built with `composer --no-dev install`.

Currently executing ./build produces much larger file (~1.2 MB), and this line: https://github.com/banago/PHPloy/blob/master/build#L29 for some reason does not prevent from inclusion of complete vendor dir to

[2017-01-26 12:43] banago commented on #305
@plashenkov this is a great thing. I've not updated the build script to exclude dev stuff. Are you saying that `composer --no-dev install` will produce a `.phar` file too?

[2017-01-26 12:54] plashenkov commented on #305
Yes, if we add `--no-dev` here:
https://github.com/banago/PHPloy/blob/master/build#L14

We will get much less dependencies in vendor. And as a result phar will be very small.

[2017-01-26 12:54] banago commented on #304
@plashenkov that's interesting. So, you are saying there are cases when you need to deploy only one subdirectory from your repo and that subdirectory is actually the web root directory?

How would something like this work:
    only[] = 'dist'
    copy[] = 'dist->/'

I'm thinking of `only[]` so it can be used for more then one subdirectory where needed and you can copy the right directory to the ro

[2017-01-26 12:57] banago commented on #305
Right. That will work only on fresh installs. In my case it won't do much. I see your pain and I'll look into this. I also want us to have a lean `.phar` file.

[2017-01-26 12:59] banago commented on #303
Point taken, thanks for reporting.

[2017-01-26 13:01] banago commented on #302
Multithreading upload is cool and I'd be more than happy to merge any pull requests, but I don't have the time to implement this in the short-term.

[2017-01-26 13:02] #296 closed

[2017-01-26 13:10] banago commented on #292
Hey everyone. It seems I've not had a good grasp of what this issue was before. Special thanks to @plashenkov for clarifying this to me on issue #304.

I see two ways of implementing this, 1:

    only[] = 'web/'
    copy[] = 'web/->/'

Or 2:

    map = 'web/'

`map` might not be the best term, but the idea is that it will play only one role, map a directory from the repo to the web root which wil

[2017-01-26 13:11] banago commented on #304
Let's continue this over at #292

[2017-01-26 13:11] #304 closed

[2017-01-26 13:15] banago commented on #289
@rajnisheu please grab the latest version and see if this is still happening. Thanks.

[2017-01-26 13:15] #289 closed

[2017-01-26 13:16] plashenkov commented on #304
It looks like a solution too.
But it's just logically different from the possible `syncroot` option.
`only[]` will allow to deploy only specified directories and ignore everything else—right? That's super useful too.
`syncroot` option will completely redefine the root to deploy to a server (by default it is a git repo root for now).
It seems to me that it would be great to have both options—`only[

[2017-01-26 13:17] banago commented on #288
This might be a specific PHPloy issue. Can you try version 2 on the same server? I think all versions delete files the same, unless there is a pre-check to see if file exists or something.

[2017-01-26 13:18] plashenkov commented on #292
`only[]` looks like a solution too.
But it's just logically different from the possible `syncroot` option.
`only[]` will allow to deploy only specified directories and ignore everything else—right? That's super useful too.
`syncroot` option will completely redefine the root to deploy to a server (by default it is a git repo root for now).
It seems to me that it would be great to have both options—

[2017-01-26 13:18] banago commented on #285
@Pimmetje have a look at this article: http://www.josheaton.org/set-up-free-incremental-deployments-sftp-gitlab-ci-phploy/

[2017-01-26 13:18] #285 closed

[2017-01-26 13:21] #177 closed

[2017-01-26 13:22] #69 closed

[2017-01-26 13:24] plashenkov commented on #292
For the `syncroot` (or `map`) option we should decide how to define paths in ini—they have to be relative to a git repo root or to a new sync root.

[2017-01-26 13:30] banago commented on #288
@hellodaniel this line might cause the delay: https://github.com/banago/PHPloy/blob/master/src/PHPloy.php#L966

I implemented the check initially because if the file was already delete, i.e. missing the library we use would through an exception and the deployment process would stop. Any idea how to work around this?

[2017-01-26 13:40] plashenkov commented on #292
While `only[]` looks very useful for me, I would vote for `syncroot` (if to select only one which is better). It's clean and without remote copyings and other magic :)

[2017-01-26 17:21] Eduruiz commented on #292
I like the `syncroot` option too, I'm using rsync for this, with rsync I have to set 2 options, `root` and `destination`, so it will basically be the same thing, but in phploy will be `path` and `syncroot`.

and for the path, I think they should be relative to the git repo, 'cause is usually where my `phploy.ini` file is, so looks better to me.

[2017-01-26 20:54] plashenkov opened #306 "Deploy include[] only when some file is changed"
I've noticed that files included using `include[]` option are deployed always, on each deploy.
Since PHPloy is written in PHP, it will be very often used to deploy PHP projects. Modern PHP projects use composer, which uses vendor folder. Best practices say to not include vendor dir to repository, however it is necessary on the server. This is why we include it using `include[]`. Vendor folder ofte

[2017-01-27 10:00] banago commented on #306
@plashenkov I like that idea. That would work great for the vendor folder. What would happen when you include other files or folders you say?

[2017-01-27 10:42] plashenkov commented on #306
Sorry I cannot understand the question (due to my English probably).

The whole idea is that if something is specified after a colon then we need to redeploy the object (a file or a folder specified before colon) only if that something is modified. If nothing specified after a colon then we just deploy the object (file or folder) every time, on each deploy.

[code]

Here `vendor` dir is deployed o

[2017-01-27 10:50] banago commented on #306
You have understood my question correctly. Pairing the included file/folder with another one that's tracked by git seems a great idea, I really like it. This would be a great feature. Is this something you can help with? I'm quite busy a the moment and there are a couple of other issues I'd like to tackle first. I'd really appreciate your contribution.

[2017-01-27 10:55] plashenkov commented on #306
Yeah I will try to do that. I am busy for now too — but on the next week I will be able to do that.

[2017-01-27 16:29] banago commented on #305
@plashenkov this is now addressed. The current Phar is around 400kb.

[2017-01-27 16:29] #305 closed

[2017-01-27 16:32] banago commented on #290
@pies and @hellodaniel this is now addressed properly. You can now pull PHPloy in globally or locally using Composer (see Readme). And to update just run: `composer global update` and you'll be on latest version.

[2017-01-27 16:32] #290 closed

[2017-01-27 16:35] #279 closed

[2017-01-27 22:01] banago commented on #303
@hellodaniel I ran some tests with files and directories with space in the name and all worked well. This is either a different underlying problem or it has been fixed somehow. Please pull the latest version and try on your end. Closing it for now.

[2017-01-27 22:01] #303 closed